{% set active_page = "admin.donations.donations" %}
{% extends "./_helpers/layout/admin_layout.html" %}
{% from "./_helpers/macros/donation_tables.html" import donation_tables with context %}
{% from "./_helpers/macros/donation_filters.html" import donation_filters with context %}
{% from "./_helpers/macros/pagination_buttons.html" import pagination_buttons with context %}
{% block title %}
  Donations
{% endblock title %}
{% block content %}
  <div class="flex flex-col gap-12">
    {{ donation_filters() }}
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-2xl font-bold leading-6 text-gray-900">Donations ({{ pagination['total_count'] }})</h1>
      </div>
      {% include "./_helpers/partials/view_form.html" %}
    </div>
    {% if view_type == "card" %}
      {{ donation_tables(donations) }}
    {% else %}
      {{ donation_tables(donations) }}
    {% endif %}
    {{ pagination_buttons() }}
  </div>
  <script>
  const confirmButton = document.querySelectorAll("#confirmButtons");
    confirmButton.forEach((confirmBtn) => {
      confirmBtn.addEventListener("click", async function () {
          await fetch(`/admin/donations/confirm/${confirmBtn.dataset.donationId}`, {
            method: "POST",
            headers: {
              "X-CSRFToken": document.querySelector("meta[name='csrf_token']").content,
            },
          });
          window.location.reload()
      });
    });
  </script>
{% endblock content %}
