{% set active_page = "volunteer" %}
{% extends "./_helpers/layout/main_layout.html" %}
{% block title %}
  Volunteer
{% endblock title %}
{% block content %}
  <div class="flex flex-col gap-16 py-12 mx-auto max-w-7xl">
    <h1 class="text-4xl font-bold text-center">Volunteers</h1>
    <div class="grid grid-cols-5 gap-8">
      {% for member in members %}
        <div class="w-full col-span-1 p-1 overflow-hidden border-2 rounded-full shadow aspect-square border-primary-500">
          <img src="{{ get_image(member.photo_url) }}"
               class="object-cover w-full h-full rounded-full"
               alt="Volunteers"
               width="auto"
               height="auto" />
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
