{% set active_page = "admin.animal.animals" %}
{% extends "./_helpers/layout/admin_layout.html" %}
{% from "./_helpers/macros/animal_cards.html" import animal_cards with context %}
{% from "./_helpers/macros/animal_tables.html" import animal_tables with context %}
{% from "./_helpers/macros/animal_filters.html" import animal_filters with context %}
{% from "./_helpers/macros/pagination_buttons.html" import pagination_buttons with context %}
{% block title %}
  Animals
{% endblock title %}
{% block content %}
  <div class="flex flex-col w-full gap-8 mx-auto max-w-7xl">
    <div class="flex items-center justify-end">
      <a href="{{ url_for('admin.animal.add_animal',) }}"
         class="text-white btn btn-primary">
        <i class="fa-solid fa-circle-plus"></i>Add Animal
      </a>
    </div>
    {{ animal_filters(true) }}
    <div class="flex items-center">
      <div class="flex-auto">
        <h1 class="text-2xl font-bold leading-6 text-gray-900">Animals ({{ pagination['total_count'] }})</h1>
      </div>
      {% include "./_helpers/partials/view_form.html" %}
    </div>
    <div>
      {% if not view_type or view_type == "card" %}
        {{ animal_cards(animals) }}
      {% else %}
        {{ animal_tables(animals) }}
      {% endif %}
    </div>
    {{ pagination_buttons() }}
  </div>
{% endblock content %}
