{% set active_page = "admin.animal.animals" %}
{% extends "./_helpers/layout/admin_layout.html" %}
{% block title %}
  Animals
{% endblock title %}
{% block content %}
  <div class="w-full max-w-4xl py-16 mx-auto space-y-8">
    <form class="flex flex-col gap-4">
      <input class="input input-bordered" placeholder="Search by name" value="{{query}}" name="query" />
      <div class="relative">
        <select class="w-full text-md select select-bordered" name="gender">
          <option value="">Select Gender</option>
          <option value="Male" {% if gender == "Male" %} selected {% endif %} >
            Male
          </option>
          <option value="Female" {% if gender == "Female" %} selected {% endif %}>
            Female
          </option>
        </select>
      </div>
      <div class="grid grid-cols-2 gap-4">
        <label class="cursor-pointer label">
          <span class="label-text">For Adoption</span> 
          <input name="for_adoption" type="checkbox" {% if for_adoption is true %}checked='checked'{% endif %} class="checkbox" />
        </label>
        <label class="cursor-pointer label">
          <span class="label-text">Rescued</span> 
          <input name="is_rescued" type="checkbox" {% if is_rescued is true %}checked='checked'{% endif %} class="checkbox" />
        </label>
        <label class="cursor-pointer label">
          <span class="label-text">Deceased</span> 
          <input name="is_dead" type="checkbox" {% if is_dead is true %}checked='checked'{% endif %} class="checkbox" />
        </label>
        <label class="cursor-pointer label">
          <span class="label-text">Dewormed</span> 
          <input name="is_dewormed" type="checkbox" {% if is_dewormed is true %}checked='checked'{% endif %} class="checkbox" />
        </label>
        <label class="cursor-pointer label">
          <span class="label-text">Neutered</span> 
          <input name="is_neutered" type="checkbox" {% if is_neutered is true %}checked='checked'{% endif %} class="checkbox" />
        </label>
        <label class="cursor-pointer label">
          <span class="label-text">Shelter</span> 
          <input name="in_shelter" type="checkbox" {% if in_shelter is true %}checked='checked'{% endif %} class="checkbox" />
        </label>
        <label class="cursor-pointer label">
          <span class="label-text">Adoption</span> 
          <input name="is_adopted" type="checkbox" {% if is_adopted is true %}checked='checked'{% endif %} class="checkbox" />
        </label>
      </div>
      <button class="btn">
        Search
      </button>
    </form>
    <h1 class="text-2xl font-bold">Animals ({{ total_count }})</h1>
    <dialog id="deleteModal" class="z-20 modal">
      <div class="bg-white modal-box">
        <h3 class="text-lg font-bold">Delete Animal</h3>
        <p class="py-4">Are you sure you want to delete this animal?</p>
        <div class="modal-action">
          <form method="dialog">
            <button class="btn">Cancel</button>
          </form>
          <button id="deleteAnyway" class="text-white btn btn-error">Delete Anyway</button>
        </div>
      </div>
    </dialog>
    <div class="grid w-full grid-cols-3 gap-8 mx-auto">
      {% for animal in animals %}
        <div class="flex flex-col bg-white border cursor-pointer group rounded-xl hover:shadow-sm">
          <a href="{{ url_for('admin.animal.view_animal', id=animal.id) }}">
            <div class="h-full overflow-hidden border-b aspect-square rounded-t-xl">
              <img class="object-cover h-full transition-all duration-300 group-hover:scale-105"
                   src="{{ get_image(animal.photo_url) }}"
                   alt="Animal Photo"
                   width="auto"
                   height="auto" />
            </div>
          </a>
          <div class="flex-1 py-2 px-3 space-y-0.5">
            <div class="flex items-center justify-between">
              <a href="{{ url_for('admin.animal.view_animal', id=animal.id) }}"
                 class="text-xl font-bold text-primary-500">{{ animal.name }}</a>
              <div class="dropdown">
                <label tabindex="0">
                  <div class="flex items-center justify-center w-6 h-6 rounded-full cursor-pointer hover:bg-gray-300 aspect-square">
                    <i class="fa-solid fa-ellipsis"></i>
                  </div>
                </label>
                <ul tabindex="0"
                    class="dropdown-content z-[1] menu p-2 border bg-base-100 rounded-box w-32">
                  <li>
                    <a href="{{ url_for('admin.animal.edit_animal', id=animal.id) }}">Edit</a>
                  </li>
                  <li>
                    <button class="open-delete-modal" data-animal-id="{{ animal.id }}">Delete</button>
                  </li>
                </ul>
              </div>
            </div>
            <p class="text-gray-600">{{ animal.description | truncate(60) }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <script>
    const deleteButtons = document.querySelectorAll(".open-delete-modal");
    deleteButtons.forEach((deleteButton) => {
      deleteButton.addEventListener("click", function () {
        deleteModal.showModal();
        const deleteAnyway = document.querySelector("#deleteAnyway");
        deleteAnyway.addEventListener("click", async function () {
          await fetch(`/admin.animal.${deleteButton.dataset.animalId}/delete`, {
            method: "DELETE",
            headers: {
              "X-CSRFToken": document.querySelector("meta[name='csrf_token']").content,
            },
          });
          window.location.reload();
        });
      });
    });
  </script>
{% endblock content %}
