{% set active_page = "admin.animal.animals" %}
{% extends "./_helpers/layout/admin_layout.html" %}
{% block title %}
  Animal
{% endblock title %}
{% block content %}
  <div class="relative w-full">
    <div class="absolute transform -translate-x-1/2 -translate-y-1/2 opacity-80 top-1/2 left-1/2 bg-blend-darken bg-slate-400 blur-3xl -z-10">
      <img src="{{ get_image(animal.photo_url) }}"
           class="w-full "
           height="auto"
           width="auto"
           alt="Profile Image Background">
    </div>
    <div class="relative flex flex-col items-center max-w-5xl gap-8 px-10 py-12 mx-auto bg-white border shadow-md rounded-3xl">
      <div class="w-64 h-64 p-1 border-4 rounded-full border-primary-500">
        <img src="{{ get_image(animal.photo_url) }}"
             class="object-cover w-full h-full rounded-full"
             height="auto"
             width="auto"
             alt="Image Background">
      </div>
      <div class="flex flex-col items-center w-full max-w-2xl gap-8">
        <div class="flex items-center gap-3">
          <h1 class="text-4xl font-bold">{{ animal.name }}</h1>
        </div>
        <p class="w-full text-center text-md">{{ animal.description }}</p>
        <div class="grid w-full grid-cols-2">
          <div class="flex items-center gap-3 p-3">
            <div class="grid w-6 h-6 {{ 'bg-green-500' if animal.is_dewormed else 'bg-gray-500' }} rounded-full place-items-center ">
              <i class="text-lg text-white fa-solid fa-check"></i>
            </div>
            <p class="font-bold to-gray-800">Dewormed</p>
          </div>
          <div class="flex items-center gap-3 p-3">
            <div class="grid w-6 h-6 {{ 'bg-green-500' if animal.is_neutered else 'bg-gray-500' }} rounded-full place-items-center ">
              <i class="text-lg text-white fa-solid fa-check"></i>
            </div>
            <p class="font-bold to-gray-800">Neutered</p>
          </div>
          <div class="flex items-center gap-3 p-3">
            <div class="grid w-6 h-6 {{ 'bg-green-500' if animal.is_shelter else 'bg-gray-500' }} rounded-full place-items-center ">
              <i class="text-lg text-white fa-solid fa-check"></i>
            </div>
            <p class="font-bold to-gray-800">Shelter</p>
          </div>
          <div class="flex items-center gap-3 p-3">
            <div class="grid w-6 h-6 {{ 'bg-green-500' if animal.is_rescued else 'bg-gray-500' }} rounded-full place-items-center ">
              <i class="text-lg text-white fa-solid fa-check"></i>
            </div>
            <p class="font-bold to-gray-800">Rescued</p>
          </div>
          <div class="flex items-center gap-3 p-3">
            <div class="grid w-6 h-6 {{ 'bg-green-500' if animal.is_adopted else 'bg-gray-500' }} rounded-full place-items-center ">
              <i class="text-lg text-white fa-solid fa-check"></i>
            </div>
            <p class="font-bold to-gray-800">Adopted</p>
          </div>
        </div>
      </div>
    </div>
    {% if animal.is_adopted %}
      <div class="relative flex items-center max-w-5xl gap-8 px-10 py-8 mx-auto mt-8 bg-white border shadow-md rounded-3xl">
        <div class="w-24 h-24 p-1 border-2 rounded-full border-primary-500">
          <img src="{{ get_image(animal.adopter_photo_url if animal.adopter_photo_url else '') }}"
               class="object-cover w-full h-full rounded-full"
               height="auto"
               width="auto"
               alt="Image Background">
        </div>
        <div class="flex flex-col gap-1">
          <h1 class="text-lg font-bold">
            {{ animal.adopter_first_name if animal.adopter_first_name else "Unknown" }} {{ animal.adopter_last_name if animal.adopter_last_name else "" }} (Adopter)
          </h1>
          <h1 class="font-medium">{{ animal.adopter_email if animal.adopter_email else "" }}</h1>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock content %}
