{% set active_page = "admin.animal.animals" %}
{% from './_helpers/macros/custom_input.html' import render_field %}
{% from './_helpers/macros/photo_input.html' import render_photo_field with context %}
{% extends "./_helpers/layout/admin_layout.html" %}
{% block title %}
  Edit Animal
{% endblock title %}
{% block content %}
  <div class="flex flex-col items-center justify-center w-full">
    <div class="w-full max-w-4xl space-y-8">
      <div class="flex w-full">
        <h1 class="text-3xl font-bold">Edit Animal</h1>
      </div>
      <form class="grid w-full grid-cols-2 gap-4 px-12 py-16 border shadow rounded-3xl"
            method="post"
            novalidate>
        <div class="col-span-2">
          {{ render_photo_field(form.photo_url, add_text="Add Picture", remove_text="Remove Picture", is_circle=true) }}
        </div>
        {{ form.id }}
        {{ form.csrf_token() }}
        {{ render_field(form.name, container_class="col-span-2") }}
        {{ render_field(form.type) }}
        {{ render_field(form.gender) }}
        {{ render_field(form.estimated_birth_month) }}
        {{ render_field(form.estimated_birth_year) }}
        {{ render_field(form.description, container_class="col-span-2") }}
        {{ render_field(form.appearance, container_class="col-span-2", footer_text="Note: Separate items with commas (e.g., blue eyes, brown skin)") }}
        {{ render_field(form.is_dewormed) }}
        {{ render_field(form.is_neutered) }}
        {{ render_field(form.is_rescued) }}
        {{ render_field(form.is_dead) }}
        {{ render_field(form.for_adoption) }}
        {{ render_field(form.is_adopted) }}
        {{ render_field(form.in_shelter) }}
        <button type="submit" class="w-full col-span-2 btn btn-md">Submit</button>
      </form>
    </div>
  </div>
{% endblock content %}
