[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.3.3"
flask-mysql-connector = "*"
python-dotenv = "*"
flask-login = "*"
werkzeug = "==2.3.7"
wtforms = "*"
flask-wtf = "*"
cloudinary = "*"
oauthlib = "*"
pyopenssl = "*"
requests = "*"
email-validator = "*"
ipython = "*"
itsdangerous = "*"
flask-mail = "*"
flask-socketio = "*"
babel = "*"
waitress = "*"
uuid = "*"
faker = "*"
celery = "*"

[dev-packages]

[requires]
python_version = "3.11"
