{% set active_page = "user.dashboard" %}
{% extends "./_helpers/layout/user_layout.html" %}
{% from "./_helpers/macros/event_cards.html" import event_cards with context %}
{% from "./_helpers/macros/empty_list.html" import empty_list %}
{% block title %}
  Dashboard
{% endblock title %}
{% block content %}
  <div class="flex flex-col gap-12">
    <div class="flex flex-col">
      <h1 class="text-3xl font-bold">Hi {{ current_user.first_name }}!</h1>
    </div>
    <div class="w-full h-[1px] bg-slate-100"></div>
    <div class="flex flex-col gap-5">
      <h2 class="text-lg font-bold">Happening Now Events</h2>
      <div>{{ event_cards(featured_events, is_user=True) }}</div>
      <div class="flex justify-center">
        <a href="{{ url_for('user.events.events',) }}"
           class="text-white btn-primary btn">See All Events</a>
      </div>
    </div>
  </div>
{% endblock content %}
