{% from './_helpers/macros/custom_input.html' import render_field %}
{% extends "./_helpers/layout/bare_layout.html" %}
{% block title %}
  User Login
{% endblock title %}
{% block content %}
  <div class="flex flex-col items-center w-full min-h-screen gap-12 px-4 py-24 login">
    <a href="{{ url_for('landing.index',) }}"
       class="flex items-center justify-center overflow-hidden transition-all duration-300 rounded-full shadow cursor-pointer hover:scale-105 w-36 h-36">
      <img src="{{ url_for('static', filename='images/isf-logo.png') }}"
           class="object-cover w-full h-full"
           alt="ISF Logo"
           width="auto"
           height="auto" />
    </a>
    <form class="flex flex-col w-full max-w-md p-10 space-y-8 bg-white border shadow rounded-3xl"
          method="post"
          novalidate>
      <div class="space-y-4">
        <div class="flex items-center justify-between">
          <h1 class="text-3xl font-bold">Sign in</h1>
          <a href="{{ url_for('admin.login',) }}"
             class="text-transparent btn btn-link btn-xs">Admin Sign-in</a>
        </div>
        {{ form.csrf_token }}
        {{ render_field(form.username) }}
        {{ render_field(form.password) }}
        <p class="text-sm text-gray-700">
          Don't have an account yet?
          <a class="font-medium text-primary-800"
             href="{{ url_for('landing.sign_up',) }}">Sign up now.</a>
        </p>
      </div>
      <button class="text-white btn btn-primary" type="submit">Login</button>
    </form>
  </div>
{% endblock content %}
