{% set active_page = "user.view_profile" %}
{% extends "./_helpers/layout/user_layout.html" %}
{% block title %}
  Profile
{% endblock title %}
{% block content %}
  <div class="relative w-full">
    <div class="absolute transform -translate-x-1/2 -translate-y-1/2 opacity-80 top-1/2 left-1/2 bg-blend-darken bg-slate-400 blur-3xl -z-10">
      <img src="{{ get_image(current_user.photo_url) }}"
           class="w-full "
           height="auto"
           width="auto"
           alt="Profile Image Background">
    </div>
    <div class="relative flex flex-col items-center max-w-5xl gap-8 px-10 py-12 mx-auto bg-white border shadow-md rounded-3xl">
      <div class="w-64 h-64 p-1 border-4 rounded-full border-primary-500">
        <img src="{{ get_image(current_user.photo_url) }}"
             class="object-cover w-full h-full rounded-full"
             height="auto"
             width="auto"
             alt="Image Background">
      </div>
      <div class="flex flex-col items-center gap-2">
        <div class="flex items-center gap-3">
          <h1 class="text-4xl font-bold">{{ current_user.first_name }} {{ current_user.last_name }}</h1>
          {% if 'Member' in current_user.roles %}
            <div class="grid w-6 h-6 bg-green-500 rounded-full place-items-center ">
              <i class="text-lg text-white fa-solid fa-check"></i>
            </div>
          {% endif %}
        </div>
        <p class="text-xl font-semibold">@{{ current_user.username }}</p>
      </div>
      <a href="{{ url_for('user.account_settings',) }}"
         class="text-white btn btn-primary btn-sm">Edit Profile</a>
    </div>
  </div>
{% endblock content %}
