{% extends "./_helpers/layout/base.html" %}
{% block body %}
  {% include "./_helpers/partials/admin_navbar.html" %}
  {% set admin_navigations = [
      {
        'name': 'Home',
        'url': url_for('admin.index'),
        'icon': 'fa-solid fa-house',
        'page': 'admin.index'
      },
      {
        'name': 'Animals',
        'url': url_for('admin.animals.animals'),
        'icon': 'fa-solid fa-dog',
        'page': '' ,
        'children': [
          {
            'name': 'All Animals',
            'url': url_for('admin.animals.animals'),
            'icon': 'fa-solid fa-list',
            'page': 'admin.animals.animals' ,
          },
          {
            'name': 'Adoption Application',
            'url': url_for('admin.animals.adoption_applications_animals'),
            'icon': 'fa-solid fa-list-check',
            'page': 'admin.animals.for_adoption_animals' ,
          },
          {
            'name': 'Add Animal',
            'url': url_for('admin.animals.add_animal'),
            'icon': 'fa-sharp fa-solid fa-circle-plus',
            'page': 'admin.animals.add_animal'
          },
        ]
      },
      {
        'name': 'Events',
        'url': url_for('admin.event.events'),
        'icon': 'fa-solid fa-calendar',
        'page': '',
        'children': [
          {
            'name': 'All Events',
            'url': url_for('admin.event.events'),
            'icon': 'fa-solid fa-list',
            'page': 'admin.event.events',
          },
          {
            'name': 'Add Event',
            'url': url_for('admin.event.add_event'),
            'icon': 'fa-sharp fa-solid fa-circle-plus',
            'page': 'admin.event.add_event'
          },
        ]
      },
      {
        'name': 'Donations',
        'url': url_for('admin.donation.donations'),
        'icon': 'fa-solid fa-hand-holding-heart',
        'page': 'admin.donation.donations'
      },
    ] %}
  <div class="flex w-full min-h-screen">
    <aside class="max-w-[320px] p-4 w-full border-r min-h-screen">
      <ul class="menu">
        {% for navigation in admin_navigations %}
          <li>
            <a href="{{ navigation.url }}"
               class="flex items-center active:!bg-gray-50 hover:!text-primary-800 active:!text-primary-800 gap-3 p-4 font-medium rounded-lg cursor-pointer hover:bg-gray-50 {{ 'font-bold text-primary-800 bg-gray-50' if active_page == navigation.page else '' }}">
              <i class="{{ navigation.icon }}"></i>
              {{ navigation.name }}
            </a>
            {% if navigation.children %}
              <ul>
                {% for item in navigation.children %}
                  <li>
                    <a href="{{ item.url }}"
                       class="flex items-center active:!bg-gray-50 hover:!text-primary-800 active:!text-primary-800 gap-3 p-4 font-medium rounded-lg cursor-pointer hover:bg-gray-50 {{ 'font-bold text-primary-800 bg-gray-50' if active_page == item.page else '' }}">
                      <i class="{{ item.icon }}"></i>
                      {{ item.name }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </aside>
    <div class="flex-1 w-full min-h-screen">
      {% block content %}
      {% endblock content %}
    </div>
  </div>
{% endblock body %}
