{% extends "./_helpers/layout/base.html" %}
{% set main_navigations = [
  {
    'name': 'Home',
    'url': url_for('admin.index'),
    'icon': 'fa-solid fa-house',
    'page': 'admin.index'
  },
  {
    'name': 'Animals',
    'url': url_for('admin.animal.animals'),
    'icon': 'fa-solid fa-dog',
    'page': 'admin.animal.animals'
  },
  {
    'name': 'Events',
    'url': url_for('admin.event.events'),
    'icon': 'fa-solid fa-calendar',
    'page': 'admin.event'
  },
  {
    'name': 'Ask For Help',
    'url': url_for('admin.animal_help.index'),
    'icon': 'fa-solid fa-handshake-angle',
    'page': 'admin.animal_help'
  },
] %}
{% set my_navigations = [
  {
    'name': 'Notifications',
    'url': url_for('admin.notifications'),
    'icon': 'fa-solid fa-bell',
    'page': 'admin.notifications',
    'count': current_user.unread_notification_count
  },
  {
    'name': 'Users',
    'url': url_for('admin.user.users'),
    'icon': 'fa-solid fa-user',
    'page': 'admin.users'
  },
  {
    'name': 'Member Applications',
    'url': url_for('admin.member_application.member_applications'),
    'icon': 'fa-solid fa-hand-back-fist',
    'page': 'admin.member_applications'
  },
  {
    'name': 'Adoption Applications',
    'url': url_for('admin.adoption.adoptions'),
    'icon': 'fa-solid fa-file-invoice',
    'page': 'admin.adoption' ,
  },
  {
    'name': 'Donations',
    'url': url_for('admin.donations.donations'),
    'icon': 'fa-solid fa-hand-holding-heart',
    'page': 'admin.donations.donations'
  },
] %}
{% block body %}
  <div class="relative flex w-full min-h-screen bg-gray-100">
    <aside class="max-w-[288px] h-full bg-white z-20 shadow-md hidden lg:block fixed left-0 top-0 p-4 w-full border-r min-h-screen">
      <div class="flex flex-col justify-between h-full gap-y-5">
        <div class="relative flex items-center justify-center">
          <a href="{{ url_for('landing.index',) }}"
             class="relative inline-flex w-full">
            <img src="{{ url_for('static', filename='svgs/logo.svg') }}"
                 alt="ISF logo"
                 class="object-cover"
                 height="auto"
                 width="auto" />
          </a>
          <div class="absolute flex items-center justify-center px-4 py-1 bg-white border rounded-lg -bottom-4 -right-2">
            <p class="text-sm font-bold text-primary-700">Admin</p>
          </div>
        </div>
        <ul class="flex flex-col flex-1 w-full gap-y-5">
          <ul class="flex flex-col w-full gap-2">
            {% for navigation in main_navigations %}
              <li>
                <a href="{{ navigation.url }}"
                   class="flex items-center justify-between gap-3 py-3 px-2 font-medium rounded-lg cursor-pointer hover:bg-gray-50 {{ 'font-bold text-primary-500 bg-gray-50' if starts_with(active_page, navigation.page) else '' }}">
                  <div class="flex items-center gap-3">
                    <div class="w-4">
                      <i class="{{ navigation.icon }}"></i>
                    </div>
                    {{ navigation.name }}
                  </div>
                  {% if navigation.count %}
                    <div class="flex items-center justify-center w-5 h-5 rounded-full bg-error">
                      <span class="text-sm font-bold text-white">{{ navigation.count }}</span>
                    </div>
                  {% endif %}
                </a>
                {% if navigation.children %}
                  <ul class="pl-4">
                    {% for item in navigation.children %}
                      <li>
                        <a href="{{ item.url }}"
                           class="flex items-center gap-3 py-3 px-2 font-medium rounded-lg cursor-pointer hover:bg-gray-50 {{ 'font-bold text-primary-500 bg-gray-50' if active_page == item.page else '' }}">
                          <i class="{{ item.icon }}"></i>
                          {{ item.name }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
          <ul class="flex flex-col gap-3">
            <p class="text-sm font-semibold leading-6 text-primary-600">Your List</p>
            <ul class="flex flex-col w-full gap-2">
              {% for navigation in my_navigations %}
                <li>
                  <a href="{{ navigation.url }}"
                     class="flex items-center justify-between gap-3 py-3 px-2 font-medium rounded-lg cursor-pointer hover:bg-gray-50 {{ 'font-bold text-primary-500 bg-gray-50' if active_page == navigation.page else '' }}">
                    <div class="flex items-center gap-3">
                      <div class="w-4">
                        <i class="{{ navigation.icon }}"></i>
                      </div>
                      {{ navigation.name }}
                    </div>
                    {% if navigation.count %}
                      <div id="notification-count"
                           class="flex items-center justify-center w-5 h-5 rounded-full bg-error">
                        <span class="text-sm font-bold text-white">{{ navigation.count }}</span>
                      </div>
                    {% endif %}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </ul>
        </ul>
        <a href="{{ url_for('user.logout',) }}"
           class="flex items-center justify-between gap-3 px-2 py-3 font-medium rounded-lg cursor-pointer hover:bg-gray-50">
          <div class="flex items-center gap-3">
            <div class="w-4">
              <i class="fa-solid fa-right-from-bracket"></i>
            </div>
            Log out
          </div>
        </a>
      </div>
    </aside>
    <main class="w-full py-10 lg:pl-72">
      <div class="w-full px-4 pb-28 sm:px-6 lg:px-8">
        {% block content %}
        {% endblock content %}
      </div>
    </main>
  </div>
{% endblock body %}
