{% extends "./_helpers/layout/base.html" %}
{% block body %}
  {% include "./_helpers/partials/navbar.html" %}
  <div class="flex w-full min-h-screen">
    <aside class="max-w-[320px] p-4 w-full border-r min-h-screen">
      <ul class="space-y-4">
        <li>
          <a class="w-full btn" href="{{ url_for('admin.rescue.index',) }}">Adoptions</a>
        </li>
      </ul>
    </aside>
    <div class="flex-1 w-full min-h-screen">
      {% block content %}
      {% endblock content %}
    </div>
  </div>
{% endblock body %}
