{% set active_page = "user.animal_help" %}
{% extends "./_helpers/layout/user_layout.html" %}
{% from './_helpers/macros/custom_input.html' import render_field %}
{% from './_helpers/macros/inputs/multi_image_input.html' import multi_image_input with context %}
{% block title %}
  Donate
{% endblock title %}
{% block content %}
  <div class="flex flex-col items-center w-full px-6 py-12 space-y-12 md:space-y-16 lg:space-y-20 md:py-16 lg:py-20">
    <div class="grid w-full max-w-4xl grid-cols-2 px-4 py-8 bg-white border divide-x shadow-md rounded-2xl">
      <div class="flex flex-col justify-center flex-1 px-8 py-4 space-y-4">
        <h3 class="text-xl font-bold text-primary-800">Animals Wish List</h3>
        <ul class="space-y-1.5 list-disc list-inside">
          <li>Dog food (kibble and canned)</li>
          <li>Cat food (kibble and canned)</li>
          <li>Crates, carriers or cages</li>
          <li>Pee pads</li>
          <li>Scratching posts for the cats</li>
          <li>Chew toys for the dogs</li>
          <li>Vaccines, medicine and vitamins</li>
          <li>Dog and cat treats</li>
          <li>Leashes, harnesses and collars</li>
        </ul>
      </div>
      <div class="flex flex-col justify-center flex-1 px-8 py-4 space-y-4">
        <h3 class="text-xl font-bold text-primary-800">Shelter Wish List</h3>
        <ul class="space-y-1.5 list-disc list-inside">
          <li>Detergent powder and bleach</li>
          <li>Dishwashing paste or liquid</li>
          <li>Bath towels</li>
          <li>Garbage bags (XXL)</li>
          <li>Foot rugs or door mats</li>
          <li>Clinic supplies (alcohol, cotton, etc.)</li>
          <li>Old newspapers</li>
          <li>Toilet paper</li>
          <li>Mops and brooms</li>
        </ul>
      </div>
    </div>
    <form class="w-full max-w-4xl p-8 space-y-4 bg-white border shadow borderm rounded-2xl"
          method="post"
          novalidate>
      <div class="space-y-4">
        {{ render_field(form.delivery_type) }}
        {{ render_field(form.pick_up_location) }}
        <div class="flex-col hidden p-4 space-y-4 border rounded-lg delivery_addresses">
          <p class="text-sm italic text-gray-600">Your donations can be dropped off at the address below.</p>
          <div class="flex items-center gap-4">
            <i class="fa-solid text-primary-800 fa-house"></i>
            <p class="font-medium text-gray-700">Block 6 Lot 3 Orchid Homes, Santiago, Iligan City (Residential HQ)</p>
          </div>
          <div class="flex items-center gap-4">
            <i class="fa-solid text-primary-800 fa-tents"></i>
            <p class="font-medium text-gray-700">Prk 4, Mimbalot, Buru-un, Iligan City (Shelter)</p>
            <a class="text-sm text-green-500 hover:font-medium"
               href="https://maps.app.goo.gl/UdbSi4tejvpQrp7j9"
               target="_blank">
              <i class="fa-solid fa-map"></i>
              View in google map
            </a>
          </div>
        </div>
        {{ render_field(form.item_list) }}
        {{ render_field(form.remarks) }}
        {{ multi_image_input(form.pictures) }}
        {{ form.csrf_token() }}
        <button type="submit" class="w-full text-white btn-primary btn btn-md">Submit</button>
      </form>
    </div>
  </div>
  <script>
    let isRendered = false;
    const deliveryTypeField = document.querySelector("[name='delivery_type']");
    const pickUpLocationField = document.querySelector("[name='pick_up_location']");
    const deliveryAddresses = document.querySelector('.delivery_addresses')
    
    function handleDeliveryTypeChange() {
      if (deliveryTypeField.value === 'Pick-up') {
        pickUpLocationField.parentElement.style.display = 'block';
        deliveryAddresses.style.display = 'none';
      } else {
        pickUpLocationField.parentElement.style.display = 'none';
        if (isRendered){ 
          deliveryAddresses.style.display = 'flex';
        }
      }
      isRendered = true;
    }

    handleDeliveryTypeChange();

    deliveryTypeField.addEventListener('change', handleDeliveryTypeChange);
  </script>
{% endblock content %}
