{% set active_page = "user.animal_help" %}
{% extends "./_helpers/layout/user_layout.html" %}
{% from './_helpers/macros/custom_input.html' import render_field %}
{% from './_helpers/macros/photo_input.html' import render_photo_field with context %}
{% from './_helpers/macros/inputs/multi_image_input.html' import multi_image_input with context %}
{% block title %}
  Donate
{% endblock title %}
{% block content %}
  <div class="flex flex-col items-center w-full px-6 py-12 space-y-12 md:space-y-16 lg:space-y-20 md:py-16 lg:py-20">
    <div class="grid w-full max-w-4xl grid-cols-4 gap-8 p-6 bg-white border divide-x shadow-md rounded-2xl">
      <img src="{{ url_for('static', filename='/images/qrs/gcash.png') }}"
           class="col-span-1 rounded-lg"
           alt="gcash"
           width="auto"
           height="auto" />
      <img src="{{ url_for('static', filename='/images/qrs/maya.png') }}"
           class="col-span-1 rounded-lg"
           alt="paymaya"
           width="auto"
           height="auto" />
      <img src="{{ url_for('static', filename='/images/qrs/bpi.png') }}"
           class="col-span-1 rounded-lg"
           alt="paymaya"
           width="auto"
           height="auto" />
      <img src="{{ url_for('static', filename='/images/qrs/bdo.png') }}"
           class="col-span-1 rounded-lg"
           alt="paymaya"
           width="auto"
           height="auto" />
    </div>
  </div>
  <form class="w-full max-w-4xl p-8 mx-auto space-y-4 bg-white border shadow borderm rounded-2xl"
        method="post"
        novalidate>
    {{ render_field(form.amount) }}
    {{ render_field(form.remarks) }}
    {{ multi_image_input(form.pictures) }}
    {{ form.csrf_token() }}
    <button type="submit" class="w-full text-white btn-primary btn btn-md">Submit</button>
  </form>
{% endblock content %}
