{% macro render_landing_gallery_item(image_src, name, description) %}
  <div class="space-y-2">
    <div class="overflow-hidden border rounded-lg aspect-square h-80 bg-gray-50">
      <img class="object-cover h-full"
           src="{{ image_src }}"
           alt="Animal Gallery Photo"
           width="auto"
           height="auto" />
    </div>
    <div class="space-y-1">
      <h3 class="text-lg font-bold text-primary">{{ name }}</h3>
      <p class="text-primary">{{ description }}</p>
    </div>
  </div>
{% endmacro %}
