{% block navbar %}
  {% set navigations = [
      { 'name': 'About Us', 'url': url_for('about_us'), 'page': 'about-us'},
      { 'name': 'Rescues', 'url': url_for('rescue.index'), 'page': 'rescue'},
      { 'name': 'Adopt', 'url': url_for('adopt.index'), 'page': 'adopt'},
      { 'name': 'Donate', 'url': url_for('donate.index'), 'page': 'donate'},
      { 'name': 'Sponsor', 'url': url_for('sponsor.index'), 'page': 'sponsor'},
      { 'name': 'Volunteer', 'url': url_for('volunteer.index'), 'page': 'volunteer'},
    ] %}
  <nav class="z-10 flex items-center justify-center w-full h-20 px-12 bg-white border-b">
    <div class="flex items-center justify-between w-full max-w-7xl">
      <a href="{{ url_for('index',) }}">
        <img src="{{ url_for('static', filename='svgs/logo.svg') }}"
             alt="ISF logo"
             class="object-cover w-auto h-12"
             height="auto"
             width="auto" />
      </a>
      <ul class="flex space-x4">
        {% for navigation in navigations %}
          <li class="rounded-lg cursor-pointer">
            <a href="{{ navigation.url }}"
               class="flex items-center px-6 py-4 space-x-4 text-md text-primary {{ 'text-gray-700' if active_page != navigation.page else 'font-semibold' }}">
              {{ navigation.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
{% endblock navbar %}
