{% from "./_helpers/macros/empty_list.html" import empty_list %}
{% macro event_tables(events) %}
  <div class="grid grid-cols-1 gap-8">
    {% for event in events %}
      {% set is_admin = "Admin" in current_user['roles'] %}
      {% if is_admin %}
        {% set event_href = url_for('admin.event.view_event', id=event.id) %}
      {% elif current_user.is_athenticated %}
        {% set event_href = url_for('user.events.view_event', id=event.id) %}
      {% else %}
        {% set event_href = url_for('landing.view_event', id=event.id) %}
      {% endif %}
      <div class="flex grid-cols-1 gap-4 p-4 bg-white border shadow-md rounded-xl">
        <a href="{{ event_href }}"
           class="w-full max-w-[300px] overflow-hidden rounded-lg">
          <img class="object-cover w-full transition-all duration-300 border {{ 'border-4 border-green-500' if event['status'] == 'In Progress' else '' }} rounded-lg aspect-video bg-gray-50 hover:scale-105"
               src="{{ get_image(event.cover_photo_url) }}"
               alt="Cover Photo"
               width="auto"
               height="auto" />
        </a>
        <div class="flex flex-col w-full gap-3">
          <div class="flex items-center justify-between gap-2">
            <div class="relative flex items-center w-full gap-4">
              <a href="{{ event_href }}"
                 class="w-8/12 text-lg font-bold {{ 'line-through text-gray-600' if event.is_cancelled }}">{{ event.name }}</a>
              {% if event.status == 'In Progress' %}
                <div class="absolute top-.5 right-0 flex items-center justify-center px-2 py-1 bg-green-500 rounded-lg flex-nowrap">
                  <p class="text-xs font-medium text-white">Happening now</p>
                </div>
              {% elif event.status == 'Cancelled' %}
                <div class="absolute top-.5 right-0 flex items-center justify-center px-2 py-1 bg-red-500 rounded-lg flex-nowrap">
                  <p class="text-xs font-medium text-white">Cancelled</p>
                </div>
              {% endif %}
            </div>
            {% if is_admin %}
              <div class="dropdown">
                <label tabindex="0">
                  <div class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-gray-200 aspect-square">
                    <i class="fa-solid fa-ellipsis"></i>
                  </div>
                </label>
                <ul tabindex="0"
                    class="z-10 w-32 p-2 border shadow rounded-2xl dropdown-content menu bg-base-100">
                  <li>
                    <a class="font-medium"
                       href="{{ url_for('admin.event.edit_event', id=event.id) }}">Edit</a>
                  </li>
                  <li>
                    <button class="font-medium"
                            id="open-delete-modal"
                            data-event-id="{{ event.id }}"
                            data-is-cancelled="{{ event.is_cancelled }}">
                      {{ "Delete" if event.status == "Cancelled" else "Cancel" }}
                    </button>
                  </li>
                </ul>
              </div>
            {% endif %}
          </div>
          <div class="w-full max-w-lg">
            <p class="leading-5 text-gray-600 {{ 'line-through text-gray-600' if event.is_cancelled }}">{{ event.description }}</p>
          </div>
          <div class="flex flex-wrap gap-8">
            <div class="flex items-center gap-3">
              <div class="flex items-center justify-center w-4 h-4">
                <i class="text-gray-500 fa-solid fa-location-dot"></i>
              </div>
              <span class="font-medium">{{ event.location }}</span>
            </div>
            <div class="flex items-center gap-3">
              <div class="flex items-center justify-center w-4 h-4">
                <i class="text-gray-500 fa-solid fa-calendar"></i>
              </div>
              <span class="font-medium">{{ event.start_date.strftime("%b %d, %Y") }} - {{ event.end_date.strftime("%b %d, %Y") }}</span>
            </div>
            {% if not is_user %}
              <div class="flex items-center gap-3">
                {% if event.who_can_see_it == "Verified User" %}
                  <div class="flex items-center justify-center w-4 h-4">
                    <i class="text-gray-500 fa-solid fa-circle-check"></i>
                  </div>
                  <span class="font-medium">{{ event.who_can_see_it }}</span>
                {% else %}
                  <div class="flex items-center justify-center w-4 h-4">
                    <i class="text-gray-500 fa-solid fa-users"></i>
                  </div>
                  <span class="font-medium">{{ event.who_can_see_it }}</span>
                {% endif %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {{ empty_list(events, "No Events Found.") }}
{% endmacro %}
