{% block donation_request_header %}
  <dialog id="confirm-modal" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
      <h2 class="mb-4 text-2xl font-bold">Confirm Donation Fulfillment</h2>
      <p class="mb-4">Are you sure you want to update the status and fulfill this donation request?</p>
      <div class="flex justify-end">
        <button id="cancel-confirm"
                class="px-4 py-2 mr-4 font-bold text-gray-800 bg-gray-300 rounded-full hover:bg-gray-400">
          Cancel
        </button>
        <button id="confirm"
                class="px-4 py-2 font-bold text-white bg-green-500 rounded-full hover:bg-green-600">Confirm</button>
      </div>
    </div>
  </dialog>
  <div class="flex gap-8 p-3 bg-white shadow">
    <div class="overflow-hidden rounded-3xl aspect-square bg-slate-100 w-72">
      <img src="{{ get_image(data.animal_photo_url) }}"
           alt="Animal Photo"
           width="auto"
           height="auto" />
    </div>
    <div class="flex flex-col gap-4">
      <h1 class="text-3xl font-bold">{{ data.animal_name }}</h1>
      <p class="text-gray-700">{{ data.description }}</p>
      <div class="flex items-center gap-4">
        <span class="text-sm">Amount needed:</span>
        <p class="text-xl font-bold">{{ data.amount | format_currency }}</p>
      </div>
      <div class="flex items-center gap-4">
        <span class="text-sm">Wishlist:</span>
        <p class="text-xl font-bold">{{ data.item_list | sanitize_comma_separated }}</p>
      </div>
      <div class="flex items-center gap-4">
        {% if data.is_fulfilled %}
          <span class="inline-block px-2 py-1 text-sm font-semibold text-white bg-green-500 rounded-full">Fulfilled</span>
        {% else %}
          <span class="inline-block px-2 py-1 text-sm font-semibold text-gray-900 bg-yellow-500 rounded-full">On Going</span>
        {% endif %}
        {% if current_user.id == data.user_id %}
          <button id="confirm-button" class="btn btn-xs">Set as Fulfilled</button>
        {% endif %}
      </div>
    </div>
  </div>
  <script>
    const confirmModal = document.querySelector("#confirm-modal");
    const confirmButton = document.querySelector("#confirm-button");

    confirmButton.addEventListener('click', () => {
      confirmModal.showModal()
    })

    const confirmDialogButton = document.querySelector("#confirm");
    const cancelConfirmButton = document.querySelector("#cancel-confirm");

    confirmDialogButton.addEventListener("click", () => {
      fetch("{{ url_for('admin.ask_for_help.view_request', id=data.id) }}", {
        method: "POST",
        headers: {
          "X-CSRFToken": document.querySelector("meta[name='csrf_token']").content,
        },
      })
      .then(response => response.json())
      .then(data => {
        showToast(data.status, data.message);
        confirmModal.close();
        window.location.reload();
      })
      .catch(error => {
        console.error("Error confirming donation:", error);
        showToast("error", "Error confirming donation. Please try again later.");
      });
    });

      cancelConfirmButton.addEventListener("click", () => {
        confirmModal.close();
      });

  </script>
{% endblock donation_request_header %}
