{% block footer %}
  <footer class="z-10 flex items-center space-y-8 justify-center w-full p-12 bg-[#D4E2D4]">
    <div class="flex flex-col items-center justify-center space-y-8">
      <div class="flex flex-col items-center justify-center gap-4">
        <div class="py-2">
          <img src="{{ url_for('static', filename='images/isf-logo.png') }}"
               class="object-contain w-24 h-24"
               alt="ISF Logo"
               width="auto"
               height="auto" />
        </div>
        <p class="font-semibold">Iligan Stray Feeders</p>
      </div>
      <div class="space-y-8">
        <div class="flex flex-col items-center justify-center gap-1">
          <p class="text-sm font-medium text-center text-primary-800">Shelter Address</p>
          <p class="font-semibold text-center">Prk 4, Mimbalot, Buru-un, Iligan City</p>
        </div>
        <div class="flex flex-col items-center justify-center gap-1">
          <p class="text-sm font-medium text-center text-primary-800">Residential HeadQuarter</p>
          <p class="font-semibold text-center">Block 6 Lot 3 Orchid Homes, Santiago, Iligan City</p>
        </div>
      </div>
    </div>
    <div class="flex flex-col items-center space-y-4"></div>
  </footer>
{% endblock footer %}
