{% block navbar %}
  {% set navigations = [
      { 'name': 'Rescues', 'url': url_for('landing.animals'), 'page': 'rescue'},
      { 'name': 'Adopt', 'url': url_for('landing.adopt'), 'page': 'adopt'},
      { 'name': 'Donate', 'url': url_for('landing.donate'), 'page': 'donate'},
      { 'name': 'Volunteer', 'url': url_for('landing.volunteers'), 'page': 'volunteer'},
      { 'name': 'Events', 'url': url_for('landing.events'), 'page': 'event'},
    ] %}
  <nav class="sticky top-0 z-50 flex items-center justify-center w-full h-20 px-4 bg-white border-b md:px-8 lg:px-12">
    <div class="flex items-center justify-between w-full gap-8 max-w-7xl">
      <a href="{{ url_for('landing.index',) }}">
        <img src="{{ url_for('static', filename='svgs/logo.svg') }}"
             alt="ISF logo"
             class="object-cover h-auto w-52"
             height="auto"
             width="auto" />
      </a>
      <ul class="hidden space-x-4 lg:flex">
        {% for navigation in navigations %}
          <li class="rounded-lg cursor-pointer">
            <a href="{{ navigation.url }}"
               class="flex items-center px-4 py-2 transition-all duration-300 text-md hover:text-opacity-80 {{ 'font-semibold text-primary-800' if active_page == navigation.page else 'font-medium' }}">
              {{ navigation.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
      <div class="items-center hidden gap-2 lg:flex">
        <a href="{{ url_for('landing.login',) }}" class="btn btn-sm">Login</a>
        <a href="{{ url_for('landing.sign_up',) }}"
           class="text-white btn btn-primary btn-sm">Sign up</a>
      </div>
      <button id="menu-button" class="flex lg:hidden">
        <i class="text-3xl fa-solid fa-bars"></i>
      </button>
    </div>
    <div id="menu-panel"
         class="absolute hidden w-full left-0 right-0 min-h-[200px] shadow-sm rounded-b-sm p-3 bg-white border-b top-20">
      <ul>
        {% for navigation in navigations %}
          <li class="rounded-lg cursor-pointer hover:bg-slate-100">
            <a href="{{ navigation.url }}"
               class="flex items-center px-6 py-4 text-md {{ 'font-bold text-primary-800' if active_page == navigation.page else 'text-primary-400' }}">
              {{ navigation.name }}
            </a>
          </li>
        {% endfor %}
        <li class="rounded-lg cursor-pointer">
          <a href="{{ url_for('landing.login',) }}"
             class="flex items-center px-6 py-4 text-md text-primary-400">Login</a>
        </li>
        <li class="rounded-lg cursor-pointer">
          <a href="{{ url_for('landing.sign_up',) }}"
             class="flex items-center px-6 py-4 text-md text-primary-400">Sign up</a>
        </li>
      </ul>
    </div>
  </nav>
  <script>
  const menuButton = document.getElementById("menu-button");
  const menuIcon = menuButton.querySelector("i");
  const menuPabel = document.getElementById("menu-panel");

  menuButton.addEventListener("click", () => {
    menuPabel.classList.toggle("hidden");
    menuIcon.classList.toggle("fa-xmark")
    menuIcon.classList.toggle("fa-bars")
  })
  </script>
{% endblock navbar %}
