{% set active_page = "donate" %}
{% from './_helpers/macros/custom_input.html' import render_field %}
{% extends "./_helpers/layout/main_layout.html" %}
{% block title %}
  Donate
{% endblock title %}
{% block content %}

<div class="flex flex-col items-center w-full px-6 py-12 space-y-12 md:space-y-16 lg:space-y-20 md:py-16 lg:py-20">
  <div class=" bg-secondary w-full max-w-5xl space-y-4 md:space-y-8 ">
  <h1 class="text-xl font-bold text-center text-primary-500"> 
    "To donate materials and food, please check the checkboxes below."</h1>
</div>


<div class="flex justify-center py-8">

  <!-- Donation Form -->
 <form class="bg-tertiary flex flex-col items-start w-31% rounded-tl-xl rounded-bl-xl p-8">    
    <div class="py-2">
      <p class="font-semibold text-lg  text-primary text-center">Donor's Information</p>
    </div>
    <div class="py-2">
      <label for="name" class="text-primary block">Name:</label>
      <input type="text" id="name" name="name" placeholder="Enter Name" class="rounded-xl w-full px-2 py-1 border">
    </div>
    <div class="py-2">
      <label for="address" class="text-primary block">Home Address:</label>
      <input type="text" id="address" name="address"  placeholder="Enter Home Address" class="rounded-xl w-full px-2 py-1 border">
    </div>
    <div class="py-2">
      <label for="contactNumber" class="text-primary block">Contact Number:</label>
      <input type="tel" id="contactNumber" name="contactNumber" placeholder="Enter Contact Number" class="rounded-xl w-full px-2 py-1 border">
    </div>
    <div class="py-2">
      <label for="email" class="text-primary block">Email Address:</label>
      <input type="email" id="email" name="email" placeholder="Enter Email Address" class="rounded-xl w-full px-2 py-1 border">
    </div>
</form>

  <!--Materials-->
  <form class="bg-tertiary flex flex-col items-start w-31% p-6">   
     <p class="font-semibold text-lg text-primary text-center py-6 ">Materials</p>
    <ul class="list-disc space-y-4">
      <li class="flex items-center">
          <input type="checkbox" id="toyCheckbox" class="form-checkbox text-primary focus:outline-none focus:shadow-outline-primary active:bg-primary-dark">
          <label for="toyCheckbox" class="ml-2 text-primary">Toys</label>
        </li>
        <li class="flex items-center">
          <input type="checkbox" id="cageCheckbox" class="form-checkbox text-primary focus:outline-none focus:shadow-outline-primary active:bg-primary-dark">
          <label for="cageCheckbox" class="ml-2 text-primary">Cage</label>
        </li>
        <li class="flex items-center">
          <input type="checkbox" id="leashCheckbox" class="form-checkbox text-primary focus:outline-none focus:shadow-outline-primary active:bg-primary-dark">
          <label for="leashCheckbox" class="ml-2 text-primary">Leash</label>
        </li>
        <li class="flex items-center">
          <input type="checkbox" id="bathCheckbox" class="form-checkbox text-primary focus:outline-none focus:shadow-outline-primary active:bg-primary-dark">
          <label for="bathCheckbox" class="ml-2 text-primary">Bath Essentials</label>
        </li>
        <li class="flex items-center">
          <input type="checkbox" id="bedCheckbox" class="form-checkbox text-primary focus:outline-none focus:shadow-outline-primary active:bg-primary-dark">
          <label for="bedCheckbox" class="ml-2 text-primary">Bed and Blankets</label>
        </li>
        <li class="py-2 flex items-center">
          <label for="otherInput" class="text-primary">Others:</label>
          <input type="text" id="otherInput" placeholder="Add Material" class="border rounded-xl px-2 py-1 text-primary ml-2">
        </li>
  </ul>
  </form>

  <!-- Food Checklist -->
  <form class="bg-tertiary flex flex-col items-start w-31% rounded-tr-xl rounded-br-xl p-6">   
     <p class="font-semibold text-lg text-primary text-center py-6">Food</p>
    <ul class="list-disc space-y-4">
        <li class="flex items-center">
            <input type="checkbox" id="treatsCheckbox" class="form-checkbox text-primary focus:outline-none focus:shadow-outline-primary active:bg-primary-dark">
            <label for="treatsCheckbox" class="ml-2 text-primary">Treats</label>
          </li>
          <li class="flex items-center pt-3">
            <input type="checkbox" id="dryFoodCheckbox" class="form-checkbox text-primary focus:outline-none focus:shadow-outline-primary active:bg-primary-dark">
            <label for="dryFoodCheckbox" class="ml-2 text-primary">Dry Food</label>
          </li>
          <li class="flex items-center">
            <input type="checkbox" id="wetFoodCheckbox" class="form-checkbox text-primary focus:outline-none focus:shadow-outline-primary active:bg-primary-dark">
            <label for="wetFoodCheckbox" class="ml-2 text-primary">Wet Food</label>
          </li>
          <li class="flex items-center">
            <input type="checkbox" id="riceCheckbox" class="form-checkbox text-primary focus:outline-none focus:shadow-outline-primary active:bg-primary-dark">
            <label for="riceCheckbox" class="ml-2 text-primary">Rice</label>
          </li>
          <li class="py-2 flex items-center">
            <label for="otherInput" class="text-primary">Others:</label>
            <input type="text" id="otherInput" placeholder="Add Material" class="border rounded-xl px-2 py-1 text-primary ml-2">
          </li>
    </ul>
  </form>
</div>

<div class="py-px justify-center items-center flex">
  <div class="bg-secondary flex justify-center flex-col items-center w-8/12 py-24 gap-y-8 rounded-xl">
    <p class="text-xl font-bold py-">"In which mode of delivery would you prefer to make your donation?"</p>

    <div class="flex items-center space-x-4">
      <label class="flex items-center text-primary">
        <input type="radio" name="delivery" value="deliver-yourself" class="mr-2">
        <span>Deliver it yourself</span>
      </label>

      <label class="flex items-center text-primary">
        <input type="radio" name="delivery" value="use-courier" class="mr-2">
        <span>Use a courier</span>
      </label>
    </div>

    <!-- Submit Button -->
    <button type="submit" class="class= bg-tertiary p-4 w-20 rounded-full font-bold flex justify-center">Submit</button>
  </div>
</div>

    

{% endblock content %}
