{% set active_page = "donate" %}
{% extends "./_helpers/layout/main_layout.html" %}
{% block title %}
  Donate
{% endblock title %}
{% block content %}
  <div class="py-8">
    <div class="flex flex-col items-center w-full max-w-5xl py-12 mx-auto space-y-10">
      <h1 class="text-4xl font-bold text-center text-primary-500 text-primary">Donation</h1>
      <p class="font-medium leading-9 text-justify md:text-center">
        ISF or Iligan Stray Feeders is a non-profit non government organization which focuses on feeding Stray animals in and around the city. It was founded and spearheaded by Trusty Choice O. Espinosa as it aims in promoting animal welfare through Stray Feeding Program. First Stray Feeding activity was conducted on December 9, 2020 and by January 7, 2021 ISF was formally organized. Through constant and regular Stray Feeding Program the group attracted a number of fellow animal advocates which became regular volunteers. The group expanded to other areas as it aims to feed larger number of Strays. With the help of regular donors and supporters the group was able to sustain its advocacy program until present time. 
      </p>
    </div>
    <div class="flex items-center justify-center py-12">
      <div class="flex flex-col items-center justify-center w-full max-w-3xl py-16 border shadow-2xl bg-slate-50 gap-y-12 rounded-2xl">
        <h1 class="text-3xl font-bold uppercase text-primary-500">Types of Donation</h1>
        <div class="flex gap-x-4">
          <a href="{{ url_for('donate.money',) }}"
             class="gap-3 text-white btn btn-primary btn-wide rounded-xl btn-lg">
            <i class="fa-solid fa-money-bill"></i>
          Money</a>
          <a href="{{ url_for('donate.in_kind',) }}"
             class="gap-3 text-white btn btn-primary btn-wide rounded-xl btn-lg">
            <i class="fa-solid fa-hand-holding-heart"></i>In-Kind Donation</a>
        </div>
        <p class="py-2 text-xl font-bold text-primary-500">Your donation means the world to our stray animals</p>
      </div>
    </div>
  </div>
{% endblock content %}
