  {% set active_page = "admin.  .index" %}
  {% extends "./_helpers/layout/admin_layout.html" %}
  {% block title %}
    Animals
  {% endblock title %}
  {% block content %}
    <div class="w-full max-w-4xl py-16 mx-auto space-y-8">
      <h1 class="text-2xl font-bold">Animals</h1>
      <dialog id="deleteModal" class="modal z-20">
        <div class="modal-box bg-white">
          <h3 class="font-bold text-lg">Delete Animal</h3>
          <p class="py-4">Are you sure you want to delete this animal?</p>
          <div class="modal-action">
              <form method="dialog">
                <button class="btn">Cancel</button>
              </form>
              <button id="deleteAnyway" class="btn btn-error text-white">Delete Anyway</button>
            </div>
          </div>
        </dialog>
      <div class="grid w-full grid-cols-2 gap-5 mx-auto">
        {% for animal in animals %}
          <div class="flex bg-white border gap-4 shadow-md p-2 max-h-[150px] rounded-lg">
            <div class="overflow-hidden border rounded-lg aspect-square h-full">
              <img class="object-cover h-full"
                  src="{{ get_image(animal.photo_url) }}"
                  alt="Animal Photo"
                  width="auto"
                  height="auto" />
            </div>
            <div class="flex-1 space-y-0.5">
              <h3 class="font-bold text-lg text-primary-500">{{ animal.name }}</h3>
              <p class="text-sm text-primary-500 text-black">{{ animal.description }}</p>
              <p class="text-sm text-primary-500 text-black">{{ animal.gender }}</p>
              <p class="text-sm text-primary-500 text-black">{{ animal.estimated_birth_month }}{{" "}}{{ animal.estimated_birth_year }}</p>
            </div>
            <div class="dropdown">
              <label tabindex="0">
                <div  class="w-6 h-6 flex hover:bg-gray-300 cursor-pointer justify-center items-center aspect-square rounded-full">
                  <i class="fa-solid fa-ellipsis"></i>
                </div>
              </label>
              <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                <li><a href="{{ url_for('admin.rescue.edit_animal', id=animal.id) }}">
                  Edit
                </a></li>
                <li><button class="open-delete-modal" data-animal-id="{{animal.id}}">
                  Delete
                </button></li>
              </ul>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

  <script>
    const deleteButtons = document.querySelectorAll(".open-delete-modal");
    deleteButtons.forEach((deleteButton) => {
      deleteButton.addEventListener("click", function () {
        deleteModal.showModal();
        const deleteAnyway = document.querySelector("#deleteAnyway");
        deleteAnyway.addEventListener("click", async function () {
          await fetch(`/admin/rescue/${deleteButton.dataset.animalId}/delete`, {
            method: "DELETE",
            headers: {
              "X-CSRFToken": document.querySelector("meta[name='csrf_token']").content,
            },
          });
          window.location.reload();
        });
      });
    });
  </script>
  {% endblock content %}
