  {% set active_page = "admin.  .index" %}
  {% extends "./_helpers/layout/admin_layout.html" %}
  {% block title %}
    Animals
  {% endblock title %}
  {% block content %}
    <div class="w-full max-w-4xl py-16 mx-auto space-y-8">
      <h1 class="text-2xl font-bold">Animals</h1>
      <div class="grid w-full grid-cols-2 gap-5 mx-auto">
        {% for animal in animals %}
          <div class="flex bg-white border gap-4 shadow-md p-2 max-h-[150px] rounded-lg">
            <div class="overflow-hidden border rounded-lg aspect-square h-full">
              <img class="object-cover h-full"
                  src="{{ get_image(animal.photo_url) }}"
                  alt="Animal Photo"
                  width="auto"
                  height="auto" />
            </div>
            <div class="flex-1 space-y-0.5">
              <h3 class="font-bold text-lg text-primary-500">{{ animal.name }}</h3>
              <p class="text-sm text-primary-500 text-black">{{ animal.description }}</p>
              <p class="text-sm text-primary-500 text-black">{{ animal.gender }}</p>
              <p class="text-sm text-primary-500 text-black">{{ animal.estimated_birth_month }}{{" "}}{{ animal.estimated_birth_year }}</p>
            </div>
            <div class="dropdown">
              <label tabindex="0">
                <div  class="w-6 h-6 flex hover:bg-gray-300 cursor-pointer justify-center items-center aspect-square rounded-full">
                  <i class="fa-solid fa-ellipsis"></i>
                </div>
              </label>
              <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                <li><a>Edit</li>
                <li><a>Delete</a></li>
              </ul>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endblock content %}
