{% set active_page = "event" %}
{% extends "./_helpers/layout/main_layout.html" %}
{% block title %}
  Events
{% endblock title %}
{% block content %}
  <div class="flex justify-center min-h-screen py-12">
    <div class="flex flex-col max-w-3xl gap-12">
      {% for event in events %}
        <div class="flex gap-8">
          <div class="overflow-hidden w-96">
            <a href="{{ url_for('landing.view_event', id=event.id) }}"
               class="overflow-hidden rounded-lg w-96">
              <img class="object-cover w-full overflow-hidden transition-all duration-300 border aspect-video bg-gray-50 hover:scale-105"
                   src="{{ get_image(event.cover_photo_url) }}"
                   alt="Cover Photo"
                   width="auto"
                   height="auto" />
            </a>
          </div>
          <div class="flex flex-col w-full gap-2">
            <a href="{{ url_for('landing.view_event', id=event.id) }}"
               class="text-2xl font-bold text-primary-800">{{ event.name }}</a>
            <p class="leading-6">{{ event.description }}</p>
            <p class="text-primary-800">
              {{ event.start_date.strftime("%b %d, %Y") }} - {{ event.end_date.strftime("%b %d, %Y") }}
            </p>
            <p class="text-primary-800">{{ event.location }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
