{% extends "./_helpers/layout/admin_layout.html" %}
{% block title %}
  Admin - Events
{% endblock title %}
{% block content %}
  <div class="flex items-center justify-center min-h-screen">
    <div class="flex flex-col space-y-6">
      <div class="text-3xl font-bold text-primary-500">Events</div>
      {% for event in events %}
        <div class="flex gap-8">
          <div class="overflow-hidden border rounded-lg aspect-video w-72 bg-gray-50">
            <img class="object-contain w-full"
                src="{{ get_image(event.cover_photo_url) }}"
                alt="Cover Photo"
                width="auto"
                height="auto" />
          </div>
          <div class="space-y-1">
            <h3 class="font-bold text-3xl text-primary-500">{{ event.name }}</h3>
            <p class="">{{ event.description }}</p>
            <div class="flex items-center gap-1">
              <p class="text-primary-500">{{ event.start_date.strftime("%b %d, %Y") }}</p>
              <p>-</p>
              <p class="text-primary-500">{{ event.end_date.strftime("%b %d, %Y") }}</p>
            </div>
            <p class="text-primary-500">{{ event.location }}</p>
            <div class="flex items-center gap-2">
              <a href="{{ url_for('admin.event.edit_event', id=event.id) }}" class="btn btn-sm">
                Edit
              </a>
              <button class="btn btn-sm">
                Delete
              </button>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
