{% set active_page = "user.events" %}
{% extends "./_helpers/layout/user_layout.html" %}
{% from "./_helpers/macros/event/event_cards.html" import event_cards with context %}
{% from "./_helpers/macros/event/event_tables.html" import event_tables with context %}
{% from "./_helpers/macros/event/event_filters.html" import event_filters with context %}
{% from "./_helpers/macros/pagination_buttons.html" import pagination_buttons with context %}
{% block title %}
  Events
{% endblock title %}
{% block content %}
  <div class="flex flex-col gap-12 mx-auto max-w-7xl">
    {{ event_filters(is_user=True) }}
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-2xl font-bold leading-6 text-gray-900">Events ({{ pagination['total_count'] }})</h1>
      </div>
      {% include "./_helpers/partials/view_form.html" %}
    </div>
    {% if not view_type or view_type == "card" %}
      {{ event_cards(events, is_user=True) }}
    {% else %}
      {{ event_tables(events) }}
    {% endif %}
    {{ pagination_buttons() }}
  </div>
{% endblock content %}
