{% set active_page = "user.events" %}
{% extends "./_helpers/layout/user_layout.html" %}
{% block title %}
  Event
{% endblock title %}
{% block content %}
  <div class="flex justify-center min-h-screen py-12">
    <div class="flex flex-col w-full max-w-3xl space-y-6">
      <img src="{{ get_image(event.cover_photo_url) }}"
           class="object-contain"
           alt="Event"
           width="auto"
           height="auto" />
      <h1>{{ event.name }}</h1>
      <p class="w-8/12">{{ event.description }}</p>
      <div class="flex items-center gap-1">
        <p class="text-primary-800">{{ event.start_date.strftime("%b %d, %Y") }}</p>
        <p>-</p>
        <p class="text-primary-800">{{ event.end_date.strftime("%b %d, %Y") }}</p>
        <p class="text-primary-800">{{ event.location }}</p>
      </div>
      <ul class="grid w-full grid-cols-2 gap-2 p-4 bg-gray-100 border rounded-lg md:grid-cols-5">
        {% for picture in event.pictures %}
          <li class="w-full h-auto max-w-full">
            <img src="{{ get_image(picture) }}"
                 class="object-cover w-full h-auto border cursor-pointer hover:shadow-sm rounded-xl bg-gray-50"
                 alt=""
                 height="auto"
                 width="auto" />
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock content %}
