{% set active_page = "admin.animal.animals" %}
{% extends "./_helpers/layout/main_layout.html" %}
{% block title %}
  Animal
{% endblock title %}
{% block content %}
  <div class="flex flex-col items-center justify-center w-full p-12">
    <div class="w-full max-w-4xl space-y-8">
      <div class="flex gap-8">
        <div class="w-full max-w-sm">
          <img class="object-cover w-full border rounded-lg"
               src="{{ get_image(animal.photo_url) }}"
               alt=""
               height="auto"
               width="auto" />
        </div>
        <div class="flex flex-col w-full py-4 space-y-6">
          <h1 class="text-3xl font-bold">{{ animal.name }}</h1>
          <div class="flex items-center gap-2">
            <p class="text-sm">Sex:</p>
            <p class="font-bold">{{ animal.gender }}</p>
          </div>
          <div class="flex items-center gap-2">
            <p class="text-sm">Birthday (Appx):</p>
            <p class="font-bold">{{ animal.estimated_birth_month }} {{ animal.estimated_birth_year }}</p>
          </div>
          <div class="flex w-full gap-4">
            <p class="text-sm">Appearance:</p>
            {% set appearances = animal.appearance.split(',') %}
            <ul class="w-full">
              {% for item in appearances %}
                <li>
                  <p class="font-bold">- {{ item }}</p>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="py-3">
            <p class="italic leading-6">{{ animal.description }}</p>
          </div>
          <div class="grid grid-cols-2 gap-6">
            <p class="font-medium">
              Adopted: <span class="px-2 py-1 ml-2 text-gray-800 bg-gray-300 rounded">{{ 'Yes' if animal.is_adopted == 1 else 'No' }}</span>
            </p>
            <p class="font-medium">
              Deceased: <span class="px-2 py-1 ml-2 text-gray-800 bg-gray-300 rounded">{{ 'Yes' if animal.is_dead == 1 else 'No' }}</span>
            </p>
            <p class="font-medium">
              Dewormed: <span class="px-2 py-1 ml-2 text-gray-800 bg-gray-300 rounded">{{ 'Yes' if animal.is_dewormed == 1 else 'No' }}</span>
            </p>
            <p class="font-medium">
              Neutered: <span class="px-2 py-1 ml-2 text-gray-800 bg-gray-300 rounded">{{ 'Yes' if animal.is_neutered == 1 else 'No' }}</span>
            </p>
            <p class="font-medium">
              Shelter: <span class="px-2 py-1 ml-2 text-gray-800 bg-gray-300 rounded">{{ 'Yes' if animal.in_shelter == 1 else 'No' }}</span>
            </p>
            <p class="font-medium">
              Rescued: <span class="px-2 py-1 ml-2 text-gray-800 bg-gray-300 rounded">{{ 'Yes' if animal.is_rescued == 1 else 'No' }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
