@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

/* Define the styles for the scrollbar */
::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
}
 
::-webkit-scrollbar-thumb {
  background-color: #555;
  /* Color of the scrollbar thumb */
  border-radius: 4px;
  /* Rounded corners of the thumb */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* Color of the scrollbar track */
}

/* For Firefox */
/* Note: Firefox uses a different pseudo-element */
/* You may need to use different styles for Firefox */
* {
  scrollbar-color: #555 #f1f1f1;
  scrollbar-width: thin;
}

.login {
  background: rgb(203, 107, 12);
  background: -moz-linear-gradient(144deg, rgba(203, 107, 12, 1) 0%, rgba(243, 149, 58, 1) 52%, rgba(247, 180, 114, 1) 100%);
  background: -webkit-linear-gradient(144deg, rgba(203, 107, 12, 1) 0%, rgba(243, 149, 58, 1) 52%, rgba(247, 180, 114, 1) 100%);
  background: linear-gradient(144deg, rgba(203, 107, 12, 1) 0%, rgba(243, 149, 58, 1) 52%, rgba(247, 180, 114, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cb6b0c", endColorstr="#f7b472", GradientType=1);
}

.scroller {
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller ul {
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - .5rem));
  }
}

.drop-down {
  @apply relative
}

.drop-down-content {
  @apply absolute pointer-events-none opacity-0 border bg-white shadow-md p-2 rounded-xl top-[calc(100%+4px)] right-0 z-50 min-w-[160px];
}

.drop-down-content>li {
  @apply flex items-center w-full gap-3 p-2 text-sm font-medium rounded-sm cursor-pointer whitespace-nowrap hover:bg-slate-100;
}


.drop-down.active>.drop-down-content,
.drop-down.active>.drop-down-button {
  @apply opacity-100 pointer-events-auto;
}


img[data-can-view='true'] {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

img[data-can-view='true']:hover {
  opacity: 0.7;
}

img[id='small-image'][data-active='true'] {
  @apply border-4 border-primary-500
}

.animal-option[data-selected='true'] {
  @apply border-2 bg-opacity-5 border-primary-500 bg-primary-100 hover:bg-primary-100 hover:bg-opacity-10;
}
