@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }
  }
}

/* Define the styles for the scrollbar */
::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
}
 
::-webkit-scrollbar-thumb {
  background-color: #555;
  /* Color of the scrollbar thumb */
  border-radius: 4px;
  /* Rounded corners of the thumb */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* Color of the scrollbar track */
}

/* For Firefox */
/* Note: Firefox uses a different pseudo-element */
/* You may need to use different styles for Firefox */
* {
  scrollbar-color: #555 #f1f1f1;
  scrollbar-width: thin;
}