{% set active_page = "adopt" %}
{% extends "./_helpers/layout/main_layout.html" %}
{% from "./_helpers/macros/pagination_buttons.html" import pagination_buttons with context %}
{% from "./_helpers/macros/animal_filters.html" import animal_filters with context %}
{% from "./_helpers/macros/empty_list.html" import empty_list with context %}
{% block title %}
  For Adoptions
{% endblock title %}
{% block content %}
  <div class="py-8">
    <div class="flex flex-col items-center w-full max-w-5xl py-12 mx-auto space-y-10">
      <h1 class="text-4xl font-bold text-center text-primary">Adopt a shelter cat or dog</h1>
      <p class="font-medium leading-9 text-justify lg:w-8/12 md:text-center">
        Are you ready to make a difference in a furry friend's life? Consider adopting a shelter cat or dog and become a part of our mission to provide loving homes to animals in need.
      </p>
    </div>
    <div class="flex flex-col w-full max-w-5xl gap-4 p-8 mx-auto bg-white border shadow-sm rounded-2xl">
      <h3 class="text-xl font-bold ">Adoption Process</h3>
      <ul class="space-y-1.5 list-decimal list-inside">
        <li>
          Login or Sign Up if you dont have account yet.
          <div class="text-xs badge badge-ghost">None</div>
        </li>
        <li>
          Submit the adoption application form
          <div class="text-xs badge badge-ghost">Pending</div>
        </li>
        <li>
          Conduct an initial interview (via phone, Zoom, or Google Meet).
          <div class="text-xs badge badge-warning">Interview</div>
        </li>
        <li>
          Meet our shelter animals in person
          <div class="text-xs text-white badge badge-info">Approved</div>
        </li>
        <li>
          Visit your chosen pet to confirm your choice
          <div class="text-xs text-white badge badge-info">Approved</div>
        </li>
        <li>
          Wait for vet clearance and schedule pick up
          <div class="text-xs text-white badge badge-info">Approved</div>
        </li>
        <li>
          Take your pet home!
          <div class="text-xs text-white badge badge-success">Turnovered</div>
        </li>
      </ul>
    </div>
    <div class="w-full max-w-5xl py-16 mx-auto space-y-8">
      {{ animal_filters(false) }}
      <div class="grid w-full grid-cols-4 gap-8 mx-auto">
        {% for animal in animals %}
          <div class="flex flex-col col-span-1 bg-white shadow-md cursor-pointer group rounded-xl">
            <a href="{{ url_for('user.adoption.adopt_me', id=animal.id) }}">
              <div class="h-full overflow-hidden border-b aspect-square rounded-t-xl">
                <img class="object-cover h-full transition-all duration-300 group-hover:scale-105"
                     src="{{ get_image(animal.photo_url) }}"
                     alt="Animal Photo"
                     width="auto"
                     height="auto" />
              </div>
            </a>
            <div class="flex-1 p-4">
              <p class="font-bold text-gray-800">{{ animal.name }}</p>
              <div class="pt-2">
                <a href="{{ url_for('user.adoption.adopt_me', id=animal.id) }}"
                   class="w-full text-white btn btn-primary {{ 'btn-disabled' if animal.is_adopted }}">
                  {% if animal.is_adopted %}
                    Adopted
                  {% else %}
                    Adopt me!
                  {% endif %}
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
        {{ empty_list(animals, "No Animals Found.", "col-span-3") }}
      </div>
      {{ pagination_buttons() }}
    </div>
  </div>
{% endblock content %}
