{% set active_page = "admin.animal.animals" %}
{% from './_helpers/macros/custom_input.html' import render_field %}
{% from './_helpers/macros/adoption_status_badge.html' import status_badge %}
{% extends "./_helpers/layout/main_layout.html" %}
{% block title %}
  Animal
{% endblock title %}
{% block content %}
  <div class="flex flex-col items-center justify-center w-full p-12">
    <div class="w-full max-w-4xl space-y-24">
      <div class="flex gap-8">
        <div class="w-full max-w-sm">
          <img class="object-cover w-full border rounded-lg"
               src="{{ get_image(animal.photo_url) }}"
               alt=""
               height="auto"
               width="auto" />
        </div>
        <div class="flex flex-col w-full py-4 space-y-6">
          <h1 class="text-3xl font-bold">{{ animal.name }}</h1>
          <div class="flex items-center gap-2">
            <p class="text-sm">Sex:</p>
            <p class="font-bold">{{ animal.gender }}</p>
          </div>
          <div class="flex items-center gap-2">
            <p class="text-sm">Birthday (Appx):</p>
            <p class="font-bold">{{ animal.estimated_birth_month }} {{ animal.estimated_birth_year }}</p>
          </div>
          <div class="flex w-full gap-4">
            <p class="text-sm">Appearance:</p>
            {% set appearances = animal.appearance.split(',') %}
            <ul class="w-full">
              {% for item in appearances %}
                <li>
                  <p class="font-bold">- {{ item }}</p>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="py-3">
            <p class="italic leading-6">{{ animal.description }}</p>
          </div>
          <div class="grid grid-cols-2 gap-6">
            <p class="font-medium">
              Adopted: <span class="px-2 py-1 ml-2 text-gray-800 bg-gray-300 rounded">{{ 'Yes' if animal.is_adopted == 1 else 'No' }}</span>
            </p>
            <p class="font-medium">
              Dead: <span class="px-2 py-1 ml-2 text-gray-800 bg-gray-300 rounded">{{ 'Yes' if animal.is_dead == 1 else 'No' }}</span>
            </p>
            <p class="font-medium">
              Dewormed: <span class="px-2 py-1 ml-2 text-gray-800 bg-gray-300 rounded">{{ 'Yes' if animal.is_dewormed == 1 else 'No' }}</span>
            </p>
            <p class="font-medium">
              Neutered: <span class="px-2 py-1 ml-2 text-gray-800 bg-gray-300 rounded">{{ 'Yes' if animal.is_neutered == 1 else 'No' }}</span>
            </p>
            <p class="font-medium">
              Shelter: <span class="px-2 py-1 ml-2 text-gray-800 bg-gray-300 rounded">{{ 'Yes' if animal.in_shelter == 1 else 'No' }}</span>
            </p>
            <p class="font-medium">
              Rescued: <span class="px-2 py-1 ml-2 text-gray-800 bg-gray-300 rounded">{{ 'Yes' if animal.is_rescued == 1 else 'No' }}</span>
            </p>
          </div>
        </div>
      </div>
      <div class="flex flex-col w-full max-w-4xl gap-4 p-8 bg-white border shadow-xl rounded-2xl">
        <h3 class="text-xl font-bold text-primary-500">Adoption Process</h3>
        <ul class="space-y-1.5 list-decimal list-inside">
          <li>
            Submit the adoption application form
            <div class="text-xs badge badge-ghost">Pending</div>
          </li>
          <li>
            Undergo a phone interview
            <div class="text-xs badge badge-warning">Under Review</div>
          </li>
          <li>
            Meet our shelter animals in person
            <div class="text-xs text-white badge badge-info">Approved</div>
          </li>
          <li>
            Visit your chosen pet to confirm your choice
            <div class="text-xs text-white badge badge-info">Approved</div>
          </li>
          <li>
            Wait for vet clearance and schedule pick up
            <div class="text-xs text-white badge badge-info">Approved</div>
          </li>
          <li>
            Take your pet home!
            <div class="text-xs text-white badge badge-success">Turnovered</div>
          </li>
        </ul>
      </div>
      {% if active_application %}
        <div class="w-full max-w-4xl p-8 space-y-2 bg-white border shadow-lg rounded-2xl">
          <h3 class="italic">
            You have already applied. Reference Number <span>#{{ active_application.id }}</span>
          </h3>
          {{ status_badge(active_application.status, size="lg") }}
        </div>
      {% else %}
        <form class="w-full max-w-4xl p-8 space-y-4 bg-white border shadow-lg borderm rounded-2xl"
              method="post"
              novalidate>
          {{ form.csrf_token() }}
          {{ render_field(form.reason_to_adopt) }}
          <div class="flex justify-end">
            <button class="btn btn-primary">Apply</button>
          </div>
        </form>
      {% endif %}
    </div>
  </div>
{% endblock content %}
