{% set active_page = "user.animals.adoptions" %}
{% extends "./_helpers/layout/user_layout.html" %}
{% from "./_helpers/macros/render_animal_cards.html" import render_animal_cards with context %}
{% from "./_helpers/macros/render_animal_tables.html" import render_animal_tables with context %}
{% from "./_helpers/macros/render_animal_filter.html" import render_animal_filter with context %}
{% block title %}
  User - Adoptions
{% endblock title %}
{% block content %}
  <div class="flex flex-col w-full gap-8">
    {{ render_animal_filter(false) }}
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-2xl font-bold leading-6 text-gray-900">Adoptions ({{ total_count }})</h1>
      </div>
      {% include "./_helpers/partials/view_form.html" %}
    </div>
    {% if view_type == "card" %}
      {{ render_animal_cards(animals) }}
    {% else %}
      {{ render_animal_tables(animals) }}
    {% endif %}
  </div>
{% endblock content %}
