{% set active_page = "user.animal.animals" %}
{% extends "./_helpers/layout/user_layout.html" %}
{% from "./_helpers/macros/render_animal_cards.html" import render_animal_cards with context %}
{% from "./_helpers/macros/render_animal_tables.html" import render_animal_tables with context %}
{% block title %}
  User - Animals
{% endblock title %}
{% block content %}
  <div class="w-full max-w-5xl px-4 py-16 mx-auto space-y-8">
    {% include "./_helpers/partials/animal_filter.html" %}
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-2xl font-bold leading-6 text-gray-900">Animals ({{ total_count }})</h1>
      </div>
      {% include "./_helpers/partials/view_form.html" %}
    </div>
    {% if view_type == "card" %}
      {{ render_animal_cards(animals) }}
    {% else %}
      {{ render_animal_tables(animals) }}
    {% endif %}
  </div>
{% endblock content %}
