{% set active_page = "admin.index" %}
{% extends "./_helpers/layout/admin_layout.html" %}
{% block title %}
  Admin
{% endblock title %}
{% block content %}
  <div class="flex justify-center w-full">
    <div class="w-full">
      <div>
        <div>Animals</div>
        <div>{{ animal_stats.total_count }}</div>
      </div>
      <div>
        <div>Dogs</div>
        <div>{{ animal_stats.dog_count }}</div>
      </div>
      <div>
        <div>Cats</div>
        <div>{{ animal_stats.cat_count }}</div>
      </div>
    </div>
  </div>
{% endblock content %}
