{% set active_page = "user.animal_help.donations" %}
{% extends "./_helpers/layout/animal_help/user_animal_help_layout.html" %}
{% from './_helpers/macros/custom_input.html' import render_field %}
{% from './_helpers/macros/multiple_photo_input.html' import render_multiple_photo_field with context %}
{% from "./_helpers/macros/empty_list.html" import empty_list %}
{% from "./_helpers/macros/animal_help/animal_help_donations.html" import animal_help_donations with context %}
{% block title %}
  Ask for help
{% endblock title %}
{% block inner_content %}
  <dialog id="add-money-modal" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
      <h2 class="mb-4 text-2xl font-bold">Add Money Donation</h2>
      <form action="{{ url_for('user.donate.animal_help_donations',id=data.id, formid='money') }}"
            id="add-money"
            class="grid w-full grid-cols-1 gap-4"
            method="post"
            novalidate>
        {{ money_form.csrf_token() }}
        {{ render_field(money_form.amount) }}
        {{ render_multiple_photo_field(money_form.pictures, 'Add Screenshots', 'money') }}
        <button type="submit" class="w-full btn btn-md">Submit</button>
      </form>
    </div>
  </dialog>
  <dialog id="add-in-kind-modal" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
      <h2 class="mb-4 text-2xl font-bold">Add In-Kind Donation</h2>
      <form action="{{ url_for('user.donate.animal_help_donations',id=data.id, formid='in-kind') }}"
            id="add-in-kind"
            class="grid w-full grid-cols-1 gap-4"
            method="post"
            novalidate>
        {{ in_kind_form.csrf_token() }}
        {{ render_field(in_kind_form.item_list) }}
        {{ render_multiple_photo_field(in_kind_form.pictures, 'Add Picture', 'in-kind') }}
        <button type="submit" class="w-full btn btn-md">Submit</button>
      </form>
    </div>
  </dialog>
  <div class="grid items-center grid-cols-2 gap-4">
    {% if not data.is_fulfilled %}
      <div class="flex justify-end w-full col-span-2 gap-3">
        <button id="add-money-button"  class="text-white btn-sm btn btn-primary">Add Money Donation</button>
        <button id="add-in-kind-button"  class="text-white btn-sm btn btn-primary">Add In-Kind Donation</button>
      </div>
    {% endif %}
    {{ animal_help_donations(donations, true) }}
  </div>
  {{ empty_list(donations, "No Donations Found.") }}
  <script>
    const addMoneyDonationModal = document.querySelector("#add-money-modal")
    const addInKindDonationModal = document.querySelector("#add-in-kind-modal")
    
    const addMoneyDonationButton = document.querySelector("#add-money-button")
    const addInKindDonationButton = document.querySelector("#add-in-kind-button")

    addMoneyDonationButton.addEventListener("click", ()=> {
      addMoneyDonationModal.showModal();
    })

    addInKindDonationButton.addEventListener("click", ()=> {
      addInKindDonationModal.showModal();
    })
  </script>
{% endblock inner_content %}
