{% set active_page = "user.donations.donate" %}
{% extends "./_helpers/layout/user_layout.html" %}
{% block title %}
  Donate
{% endblock title %}
{% block content %}
  <div class="py-8">
    <div class="flex items-center justify-center py-12">
      <div class="flex flex-col items-center justify-center w-full max-w-3xl py-16 border shadow-lg gap-y-12 rounded-2xl">
        <h1 class="text-3xl font-bold uppercase">Types of Donation</h1>
        <div class="flex gap-x-4">
          <a href="{{ url_for('user.donations.donate_money',) }}"
             class="gap-3 text-white btn btn-primary btn-wide rounded-xl btn-lg">
            <i class="fa-solid fa-money-bill"></i>
          Money</a>
          <a href="{{ url_for('user.donations.donate_in_kind',) }}"
             class="gap-3 text-white btn btn-primary btn-wide rounded-xl btn-lg">
            <i class="fa-solid fa-hand-holding-heart"></i>In-Kind Donation</a>
        </div>
        <p class="py-2 text-xl font-bold text-primary-800">Your donation means the world to our stray animals</p>
      </div>
    </div>
  </div>
{% endblock content %}
