{% set active_page = "user.donate" %}
{% extends "./_helpers/layout/user_layout.html" %}
{% from "./_helpers/macros/pagination_buttons.html" import pagination_buttons with context %}
{% from "./_helpers/macros/donation_request_card.html" import donation_request_card with context %}
{% block title %}
  Donate
{% endblock title %}
{% block content %}
  <dialog id="modal" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
      <div class="flex flex-col gap-5">
        <h2 class="mb-4 text-2xl font-bold">Support Our Mission</h2>
        <p class="mb-4">Your contribution makes a difference! Choose how you'd like to contribute to our cause.</p>
        <div class="flex gap-x-4">
          <a href="{{ url_for('user.donate.donate_money',) }}"
             class="flex-1 text-white btn btn-primary">
            <i class="fa-solid fa-money-bill"></i> Monetary Donation
          </a>
          <a href="{{ url_for('user.donate.donate_in_kind',) }}"
             class="flex-1 text-white btn btn-primary">
            <i class="fa-solid fa-hand-holding-heart"></i> In-Kind Donation
          </a>
        </div>
      </div>
    </div>
  </dialog>
  <div class="flex flex-col w-full gap-8">
    <div class="flex justify-end pb-4">
      <button onclick="modal.showModal()" class="text-white btn btn-primary">Support Organiation</button>
    </div>
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-2xl font-bold leading-6 text-gray-900">Asking for Help ({{ pagination['total_count'] }})</h1>
      </div>
      {% include "./_helpers/partials/view_form.html" %}
    </div>
    {% if view_type == "card" %}
      <div class="grid grid-cols-3 gap-8 pb-12">
        {% for donation_request in donation_requests %}{{ donation_request_card(donation_request, True) }}{% endfor %}
      </div>
    {% else %}
      <div class="grid grid-cols-3 gap-8 pb-12">
        {% for donation_request in donation_requests %}{{ donation_request_card(donation_request, True) }}{% endfor %}
      </div>
    {% endif %}
    {% if donation_requests | length == 0 %}
      <div class="flex flex-col items-center justify-center gap-8 p-12">
        <img class="w-full max-w-sm"
             src="{{ url_for('static', filename='images/empty_list.png') }}"
             alt="Kid hugging her dog"
             width="auto"
             height="auto" />
        <h3 class="text-lg font-medium">No Ask For Help Yet.</h3>
      </div>
    {% endif %}
  </div>
  {{ pagination_buttons() }}
{% endblock content %}
