{% set active_page = "user.donate" %}
{% extends "./_helpers/layout/user_layout.html" %}
{% from "./_helpers/macros/pagination_buttons.html" import pagination_buttons with context %}
{% from './_helpers/macros/multiple_photo_input.html' import render_multiple_photo_field with context %}
{% from './_helpers/macros/custom_input.html' import render_field %}
{% from './_helpers/macros/ask_for_help/animal_help_posts.html' import animal_help_posts with context %}
{% from "./_helpers/macros/empty_list.html" import empty_list %}
{% block title %}
  Ask for help
{% endblock title %}
{% block content %}
  <div class="flex flex-col gap-12">
    {% include "./_helpers/partials/ask_for_help/animal_help_header.html" %}
    <div class="flex items-center gap-8 p-3 bg-white shadow">
      <a class="w-full"
         href="{{ url_for('user.donate.animal_help_posts', id=data.id) }}">
        <div class="flex items-center justify-center flex-1 p-3 border rounded-lg border-primary-100 bg-opacity-5 bg-primary-100">
          <h1 class="font-bold text-primary-500">Updates</h1>
        </div>
      </a>
      <a class="w-full"
         href="{{ url_for('user.donate.animal_help_donations', id=data.id) }}">
        <div class="flex items-center justify-center flex-1 p-3 border rounded-lg">
          <h1 class="font-bold">Donations</h1>
        </div>
      </a>
    </div>
    <div class="flex flex-col items-center gap-4">
      {{ animal_help_posts(posts) }}
      {{ empty_list(posts, "No Posts Found.") }}
    </div>
  </div>
  <script>
    const addPostModal = document.querySelector("#add-post-modal")
    const addPostButton = document.querySelector("#add-post-button")

    addPostButton.addEventListener("click", ()=> {
      addPostModal.showModal();
    })
  </script>
{% endblock content %}
