{% set active_page = "admin.event.events" %}
{% extends "./_helpers/layout/admin_layout.html" %}
{% from "./_helpers/macros/event/event_cards.html" import event_cards with context %}
{% from "./_helpers/macros/event/event_tables.html" import event_tables with context %}
{% from "./_helpers/macros/event/event_filters.html" import event_filters with context %}
{% from "./_helpers/macros/pagination_buttons.html" import pagination_buttons with context %}
{% block title %}
  Events
{% endblock title %}
{% block content %}
  <dialog id="deleteModal" class="z-20 modal">
    <div class="bg-white modal-box">
      <h3 class="text-lg font-bold">Cancel or Delete Event</h3>
      <ul class="flex flex-col gap-2 pt-3 pb-1">
        <li id="cancel"
            class="flex items-center justify-between gap-8 p-2 rounded-lg cursor-pointer hover:bg-slate-50">
          <div class="flex flex-col">
            <p class="font-medium">Cancel Event</p>
            <span class="text-xs text-gray-500">If you cancel youor event. You'll be able to access the event page but won't be able to edit the event.</span>
          </div>
          <input type="radio"
                 name="cancel-delete-event"
                 data-value="cancel"
                 class="radio" />
        </li>
        <li id="delete"
            class="flex items-center justify-between gap-8 p-2 rounded-lg cursor-pointer hover:bg-slate-50">
          <div class="flex flex-col">
            <p class="font-medium">Delete Event</p>
            <span class="text-xs text-gray-500">If you delete your event, you won't be able to access it again. If you'll want to come back to it, you can cancel your event instead.</span>
          </div>
          <input type="radio"
                 name="cancel-delete-event"
                 data-value="delete"
                 class="radio" />
        </li>
      </ul>
      <div class="modal-action">
        <form method="dialog">
          <button class="btn">Cancel</button>
        </form>
        <button type="submit" id="confirmButton" class="text-white btn btn-error">Confirm</button>
      </div>
    </div>
  </dialog>
  <div class="flex flex-col w-full gap-8 mx-auto max-w-7xl">
    <div class="flex items-center justify-end">
      <a href="{{ url_for('admin.event.add_event',) }}"
         class="text-white btn btn-primary">
        <i class="fa-solid fa-circle-plus"></i>Add Event
      </a>
    </div>
    {{ event_filters() }}
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-2xl font-bold leading-6 text-gray-900">Events ({{ pagination['total_count'] }})</h1>
      </div>
      {% include "./_helpers/partials/view_form.html" %}
    </div>
    {% if not view_type or view_type == "card" %}
      {{ event_cards(events) }}
    {% else %}
      {{ event_tables(events) }}
    {% endif %}
    {{ pagination_buttons() }}
  </div>
  <script>
    const deleteButtons = document.querySelectorAll("#open-delete-modal");
    
    const radioLis = document.querySelectorAll("li");

    let currentSelected = ""

    radioLis.forEach((radioLi) => {
      radioLi.addEventListener("click", () => {
        const radioInput = radioLi.querySelector("input[type='radio']");
        if (radioInput) {
          radioInput.click();
          currentSelected = radioInput.getAttribute("data-value");
        }
      });
    });
    
    deleteButtons.forEach((deleteButton) => {
      deleteButton.addEventListener("click", function () {
        deleteModal.showModal();

        const isCancelled = this.getAttribute("data-is-cancelled") == "1"

        if (isCancelled) {
          currentSelected = "delete";
          document.querySelector("li[id='cancel']").classList.add("hidden")
          document.querySelector("li[id='delete']").querySelector("input[type='radio']").click()
        } else {
          document.querySelector("li[id='cancel']").classList.remove("hidden")
        }
        
        const confirmButton = document.querySelector("#confirmButton");
        confirmButton.addEventListener("click", async function () {

          await fetch(`/admin/event/${deleteButton.dataset.eventId}/${currentSelected}`, {
            method: "DELETE",
            headers: {
              "X-CSRFToken": document.querySelector("meta[name='csrf_token']").content,
            },
          });
          window.location.reload();
        });
      });
    });

    
  </script>
{% endblock content %}
