{% set active_page = "admin.event.events" %}
{% extends "./_helpers/layout/admin_layout.html" %}
{% from "./_helpers/macros/event_cards.html" import event_cards with context %}
{% from "./_helpers/macros/event_tables.html" import event_tables with context %}
{% from "./_helpers/macros/event_filters.html" import event_filters with context %}
{% from "./_helpers/macros/pagination_buttons.html" import pagination_buttons with context %}
{% block title %}
  Admin - Events
{% endblock title %}
{% block content %}
  <dialog id="deleteModal" class="z-20 modal">
    <div class="bg-white modal-box">
      <h3 class="text-lg font-bold">Delete Event</h3>
      <p class="py-4">Are you sure you want to delete this event?</p>
      <div class="modal-action">
        <form method="dialog">
          <button class="btn">Cancel</button>
        </form>
        <button id="deleteAnyway" class="text-white btn btn-error">Delete Anyway</button>
      </div>
    </div>
  </dialog>
  <div class="flex flex-col gap-12">
    {{ event_filters() }}
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-2xl font-bold leading-6 text-gray-900">Events ({{ pagination['total_count'] }})</h1>
      </div>
      {% include "./_helpers/partials/view_form.html" %}
    </div>
    {% if view_type == "card" %}
      {{ event_cards(events) }}
    {% else %}
      {{ event_tables(events) }}
    {% endif %}
    {{ pagination_buttons() }}
  </div>
  <script>
    const deleteButtons = document.querySelectorAll("#open-delete-modal");
    deleteButtons.forEach((deleteButton) => {
      deleteButton.addEventListener("click", function () {
        deleteModal.showModal();
        const deleteAnyway = document.querySelector("#deleteAnyway");
        deleteAnyway.addEventListener("click", async function () {
          await fetch(`/admin/event/${deleteButton.dataset.eventId}/delete`, {
            method: "DELETE",
            headers: {
              "X-CSRFToken": document.querySelector("meta[name='csrf_token']").content,
            },
          });
          window.location.reload();
        });
      });
    });
  </script>
{% endblock content %}
