{% macro animal_cards_adoption(animals) %}
  <div class="grid w-full grid-cols-4 gap-5 mx-auto">
    {% for animal in animals %}
      {% set href = url_for('user.animals.view_animal', id=animal.id) %}
      <div class="flex flex-col gap-y-4">
        <a href="{{ href }}">
          <div class="h-full overflow-hidden border aspect-square rounded-xl">
            <img class="object-cover h-full transition-all duration-300 group-hover:scale-105"
                 src="{{ get_image(animal.photo_url) }}"
                 alt="Animal Photo"
                 width="auto"
                 height="auto" />
          </div>
        </a>
        <div class="flex flex-wrap gap-2">
          <span class="inline-flex items-center px-2 py-1 text-xs font-medium text-gray-700 rounded-md bg-gray-50 ring-1 ring-inset ring-gray-600/20">
            {% if animal.is_dewormed %}
              Dewormed
            {% else %}
              Not Dewormed
            {% endif %}
          </span>
          <span class="inline-flex items-center px-2 py-1 text-xs font-medium text-gray-700 rounded-md bg-gray-50 ring-1 ring-inset ring-gray-600/20">
            {% if animal.is_neutered %}
              Neutered
            {% else %}
              Not Neutered
            {% endif %}
          </span>
          <span class="inline-flex items-center px-2 py-1 text-xs font-medium text-gray-700 rounded-md bg-gray-50 ring-1 ring-inset ring-gray-600/20">
            {% if animal.in_shelter %}
              In Shelter
            {% else %}
              Not In Shelter
            {% endif %}
          </span>
          <span class="inline-flex items-center px-2 py-1 text-xs font-medium text-gray-700 rounded-md bg-gray-50 ring-1 ring-inset ring-gray-600/20">
            {% if animal.is_rescued %}
              Rescued
            {% else %}
              Not Rescued
            {% endif %}
          </span>
        </div>
        <a href="{{ url_for('user.adoptions.adopt_me', id=animal.id) }}"
           class="w-full btn {{ '' if animal.is_applied else 'btn-primary text-white' }}">
          {{ "Applied" if animal.is_applied else 'Apply' }}
        </a>
      </div>
    {% endfor %}
  </div>
  {% if animals | length == 0 %}
    <div class="flex flex-col items-center justify-center gap-8 p-12 my-16">
      <img class="w-full max-w-sm"
           src="{{ url_for('static', filename='images/empty_list.png') }}"
           alt="Kid hugging her dog"
           width="auto"
           height="auto" />
      <h3 class="text-lg font-medium">No Animals Available To Adopt Found.</h3>
    </div>
  {% endif %}
{% endmacro %}
