{% from "./_helpers/macros/empty_list.html" import empty_list %}
{% macro animal_tables(animals, hidden_columns) %}
  {% set is_admin = 'Admin' in current_user.roles %}
  {% if is_admin %}
    <dialog id="delete-animal-modal" class="modal modal-bottom sm:modal-middle">
      <div class="modal-box">
        <h2 class="mb-4 text-2xl font-bold">Confirm Deletion</h2>
        <p class="mb-4">Are you sure you want to delete this animal?</p>
        <div class="flex justify-end">
          <button id="delete-animal-cancel"
                  class="px-4 py-2 mr-4 font-bold text-gray-800 bg-gray-300 rounded-full hover:bg-gray-400">
            Cancel
          </button>
          <button id="delete-animal-confirm"
                  class="px-4 py-2 font-bold text-white bg-red-500 rounded-full hover:bg-red-600">Confirm</button>
        </div>
      </div>
    </dialog>
    <dialog id="set-adoption-true-modal"
            class="modal modal-bottom sm:modal-middle">
      <div class="modal-box">
        <h2 class="mb-4 text-2xl font-bold">Confirm Adoption Status</h2>
        <p class="mb-4">Are you sure you want to set this animal for adoption?</p>
        <div class="flex justify-end">
          <button id="set-adoption-true-cancel"
                  class="px-4 py-2 mr-4 font-bold text-gray-800 bg-gray-300 rounded-full hover:bg-gray-400">
            Cancel
          </button>
          <button id="set-adoption-true-confirm"
                  class="px-4 py-2 font-bold text-white bg-green-500 rounded-full hover:bg-green-600">Confirm</button>
        </div>
      </div>
    </dialog>
    <dialog id="set-adoption-false-modal"
            class="modal modal-bottom sm:modal-middle">
      <div class="modal-box">
        <h2 class="mb-4 text-2xl font-bold">Confirm Adoption Status</h2>
        <p class="mb-4">Are you sure you want to set this animal as not for adoption?</p>
        <div class="flex justify-end">
          <button id="set-adoption-false-cancel"
                  class="px-4 py-2 mr-4 font-bold text-gray-800 bg-gray-300 rounded-full hover:bg-gray-400">
            Cancel
          </button>
          <button id="set-adoption-false-confirm"
                  class="px-4 py-2 font-bold text-white bg-red-500 rounded-full hover:bg-red-600">Confirm</button>
        </div>
      </div>
    </dialog>
  {% endif %}
  <div class="overflow-hidden bg-white rounded-lg shadow-md ">
    <div class="w-full">
      <table class="min-w-full divide-y divide-gray-300">
        <thead>
          <tr>
            <th scope="col"
                class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Name</th>
            <th scope="col"
                class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900">For Adoption</th>
            <th scope="col"
                class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900">Adopted</th>
            <th scope="col"
                class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900">In Shelter</th>
            <th scope="col"
                class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900">Rescued</th>
            <th scope="col"
                class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900">Dewormed</th>
            <th scope="col"
                class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900">Neutered</th>
            {% if not 'is_dead' in hidden_columns %}
              <th scope="col"
                  class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900">Deceased</th>
            {% endif %}
            <th scope="col" class="relative py-3.5 px-3">
              <span class="sr-only">Edit</span>
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          {% for animal in animals %}
            {% if is_admin %}
              {% set href = url_for('admin.animal.view_animal', id=animal.id) %}
            {% else %}
              {% set href = url_for('user.animals.view_animal', id=animal.id) %}
            {% endif %}
            <tr>
              <td class="px-3 py-5 text-sm whitespace-nowrap">
                <div class="flex items-center">
                  <a href="{{ href }}">
                    <div class="flex-shrink-0 h-11 w-11">
                      <img class="object-cover rounded-full h-11 w-11"
                           src="{{ get_image(animal.photo_url) }}"
                           alt=""
                           height="auto"
                           width="auto">
                    </div>
                  </a>
                  <div class="ml-4">
                    <a href="{{ href }}">
                      <div class="font-medium text-gray-900">{{ animal.name }}</div>
                    </a>
                    <div class="mt-1 text-gray-500">{{ animal.estimated_birth_month }} {{ animal.estimated_birth_year }}</div>
                  </div>
                </div>
              </td>
              <td class="px-3 py-5 text-right">
                <span class="inline-flex items-center gap-2 text-sm font-thin text-gray-700">
                  <div class="grid w-5 h-5 aspect-square {{ 'bg-primary-500' if animal.for_adoption else 'bg-gray-500' }} rounded-full place-items-center ">
                    <i class="text-xs text-white fa-solid fa-paw"></i>
                  </div>
                  For Adoption
                </span>
              </td>
              <td class="px-3 py-5 text-right">
                <span class="inline-flex items-center gap-2 text-sm font-thin text-gray-700">
                  <div class="grid w-5 h-5 aspect-square {{ 'bg-red-500' if animal.is_adopted else 'bg-gray-500' }} rounded-full place-items-center ">
                    <i class="text-xs text-white fa-solid fa-heart"></i>
                  </div>
                  Adopted
                </span>
              </td>
              <td class="px-3 py-5 text-right">
                <span class="inline-flex items-center gap-2 text-sm font-thin text-gray-700">
                  <div class="grid w-5 h-5 aspect-square {{ 'bg-purple-500' if animal.in_shelter else 'bg-gray-500' }} rounded-full place-items-center ">
                    <i class="text-xs text-white fa-solid fa-home"></i>
                  </div>
                  In Shelter
                </span>
              </td>
              <td class="px-3 py-5 text-right">
                <span class="inline-flex items-center gap-2 text-sm font-thin text-gray-700">
                  <div class="grid w-5 h-5 aspect-square {{ 'bg-yellow-500' if animal.is_rescued else 'bg-gray-500' }} rounded-full place-items-center ">
                    <i class="text-xs text-white fa-solid fa-life-ring"></i>
                  </div>
                  Rescued
                </span>
              </td>
              <td class="px-3 py-5 text-right">
                <span class="inline-flex items-center gap-2 text-sm font-thin text-gray-700">
                  <div class="grid w-5 h-5 aspect-square {{ 'bg-green-500' if animal.is_dewormed else 'bg-gray-500' }} rounded-full place-items-center ">
                    <i class="text-xs text-white fa-solid fa-shield"></i>
                  </div>
                  Dewormed
                </span>
              </td>
              <td class="px-3 py-5 text-right">
                <span class="inline-flex items-center gap-2 text-sm font-thin text-gray-700">
                  <div class="grid w-5 h-5 aspect-square {{ 'bg-blue-500' if animal.is_neutured else 'bg-gray-500' }} rounded-full place-items-center ">
                    <i class="text-xs text-white fa-solid fa-cut"></i>
                  </div>
                  Neutered
                </span>
              </td>
              {% if not 'is_dead' in hidden_columns %}
                <td class="px-3 py-5 text-right">
                  <span class="inline-flex items-center gap-2 text-sm font-thin text-gray-700">
                    <div class="grid w-5 h-5 aspect-square {{ 'bg-gray-900' if animal.is_dead else 'bg-gray-500' }} rounded-full place-items-center ">
                      <i class="text-xs text-white fa-solid fa-skull"></i>
                    </div>
                    Deceased
                  </span>
                </td>
              {% endif %}
              <td class="relative px-3 py-5 text-sm font-medium text-right whitespace-nowrap">
                {% if is_admin %}
                  <div class="drop-down" data-dropdown>
                    <button data-dropdown-button
                            class="flex items-center justify-center w-10 h-10 transition-all duration-200 border rounded-full hover:shadow drop-down-button">
                      <i class="text-lg pointer-events-none fa-solid fa-ellipsis"></i>
                    </button>
                    <ul data-dropdown-content tabindex="0" class="drop-down-content">
                      <li role="link"
                          data-href="{{ url_for('admin.animal.edit_animal', id=animal.id) }}"
                          tabindex="0">Edit</li>
                      <li role="button"
                          tabindex="0"
                          id="delete-animal-button"
                          data-animal-id="{{ animal.id }}">Delete</li>
                      <li role="button"
                          tabindex="0"
                          id="{{ 'set-adoption-true-button' if not animal.for_adoption else 'set-adoption-false-button' }}"
                          data-animal-id="{{ animal.id }}"
                          class="{{ 'opacity-50 pointer-events-none' if animal.is_adopted or animal.is_dead }}">
                        {{ 'Available for Adoption' if not animal.for_adoption else 'Not for Adoption' }}
                      </li>
                      <li role="link"
                          data-href="{{ url_for('admin.animal_help.add_animal_help', animal_id=animal.id) }}"
                          tabindex="0"
                          id="set-adoption-true-button"
                          data-animal-id="{{ animal.id }}"
                          class="{{ 'opacity-50 pointer-events-none' if animal.is_adopted or animal.is_dead or animal.help_requested }}">
                        Ask for help {{ '(Active)' if animal.help_requested else '' }}
                      </li>
                    </ul>
                  </div>
                {% endif %}
              </td>
            </tr>
          </tbody>
        {% endfor %}
      </table>
      {{ empty_list(animals, "No Animals Found.") }}
    </div>
  </div>
  {% if is_admin %}
    <script>
    const deleteAnimalModal = document.querySelector("#delete-animal-modal");
  const deleteAnimalButton = document.querySelectorAll("#delete-animal-button");
  const deleteAnimalCancel = document.querySelector("#delete-animal-cancel");
  const deleteAnimalConfirm = document.querySelector("#delete-animal-confirm");

  deleteAnimalButton.forEach((button) => {
    button.addEventListener("click", () => {
      const animalId = button.getAttribute("data-animal-id");
      deleteAnimalModal.showModal();
      deleteAnimalCancel.addEventListener("click", () => {
        deleteAnimalModal.close();
      })
      deleteAnimalConfirm.addEventListener("click", () => {
        fetch(`/admin/animals/${animalId}/delete`, {
          method: "DELETE", 
          headers: {
              "X-CSRFToken": document.querySelector("meta[name='csrf_token']").content,
          }
        }).then(() => {
          window.location.reload()
        })
      })
    })
  })

const setAdoptionTrueModal = document.querySelector("#set-adoption-true-modal");
const setAdoptionTrueButtons = document.querySelectorAll("#set-adoption-true-button");
const setAdoptionTrueCancel = document.querySelector("#set-adoption-true-cancel");
const setAdoptionTrueConfirm = document.querySelector("#set-adoption-true-confirm");

setAdoptionTrueButtons.forEach((button) => {
  button.addEventListener("click", () => {
    const animalId = button.getAttribute("data-animal-id");
    setAdoptionTrueModal.showModal();
    setAdoptionTrueCancel.addEventListener("click", () => {
      setAdoptionTrueModal.close();
    })
    setAdoptionTrueConfirm.addEventListener("click", () => {
      fetch(`/admin/animals/${animalId}/toggle-adoption-status`, {
        method: "PUT",
        headers: {
          "X-CSRFToken": document.querySelector("meta[name='csrf_token']").content,
        }
      }).then(() => {
        window.location.reload()
      })
    })
  })
})

const setAdoptionFalseModal = document.querySelector("#set-adoption-false-modal");
const setAdoptionFalseButtons = document.querySelectorAll("#set-adoption-false-button");
const setAdoptionFalseCancel = document.querySelector("#set-adoption-false-cancel");
const setAdoptionFalseConfirm = document.querySelector("#set-adoption-false-confirm");

setAdoptionFalseButtons.forEach((button) => {
  button.addEventListener("click", () => {
    const animalId = button.getAttribute("data-animal-id");
    setAdoptionFalseModal.showModal();
    setAdoptionFalseCancel.addEventListener("click", () => {
      setAdoptionFalseModal.close();
    })
    setAdoptionFalseConfirm.addEventListener("click", () => {
      fetch(`/admin/animals/${animalId}/toggle-adoption-status`, {
        method: "PUT",
        headers: {
          "X-CSRFToken": document.querySelector("meta[name='csrf_token']").content,
        }
      }).then(() => {
        window.location.reload()
      })
    })
  })
})


    </script>
  {% endif %}
{% endmacro %}
