{% macro animal_tables(animals, is_admin) %}
  {% if is_admin %}
    <dialog id="delete-modal-table" class="z-20 modal">
      <div class="bg-white modal-box">
        <h3 class="text-lg font-bold">Delete Animal</h3>
        <p class="py-4">Are you sure you want to delete this animal?</p>
        <div class="modal-action">
          <form method="dialog">
            <button class="btn">Cancel</button>
          </form>
          <button id="delete-anyway-table" class="text-white btn btn-error">Delete Anyway</button>
        </div>
      </div>
    </dialog>
  {% endif %}
  <div class="flow-root">
    <div class="w-full">
      <table class="min-w-full divide-y divide-gray-300">
        <thead>
          <tr>
            <th scope="col"
                class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Name</th>
            <th scope="col"
                class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Type</th>
            <th scope="col"
                class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900">Adopted</th>
            <th scope="col"
                class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900">Deceased</th>
            <th scope="col"
                class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900">Dewormed</th>
            <th scope="col"
                class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900">Neutered</th>
            <th scope="col"
                class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900">In Shelter</th>
            <th scope="col"
                class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900">Rescued</th>
            <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
              <span class="sr-only">Edit</span>
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          {% for animal in animals %}
            {% if is_admin %}
              {% set href = url_for('admin.animals.view_animal', id=animal.id) %}
            {% else %}
              {% set href = url_for('user.animals.view_animal', id=animal.id) %}
            {% endif %}
            <tr>
              <td class="py-5 pl-4 pr-3 text-sm whitespace-nowrap sm:pl-0">
                <div class="flex items-center">
                  <a href="{{ href }}">
                    <div class="flex-shrink-0 h-11 w-11">
                      <img class="rounded-full h-11 w-11"
                           src="{{ get_image(animal.photo_url) }}"
                           alt=""
                           height="auto"
                           width="auto">
                    </div>
                  </a>
                  <div class="ml-4">
                    <a href="{{ href }}">
                      <div class="font-medium text-gray-900">{{ animal.name }}</div>
                    </a>
                    <div class="mt-1 text-gray-500">{{ animal.estimated_birth_month }} {{ animal.estimated_birth_year }}</div>
                  </div>
                </div>
              </td>
              <td class="px-3 py-5 text-sm text-gray-500 whitespace-nowrap">{{ animal.type }}</td>
              <td class="px-3 py-5 text-sm text-right text-gray-500 whitespace-nowrap">
                <span class="inline-flex items-center px-2 py-1 text-xs font-medium text-gray-700 rounded-md bg-gray-50 ring-1 ring-inset ring-gray-600/20">
                  {% if animal.is_adopted %}
                    Adopted
                  {% else %}
                    Not Adopted
                  {% endif %}
                </span>
              </td>
              <td class="px-3 py-5 text-sm text-right text-gray-500 whitespace-nowrap">
                <span class="inline-flex items-center px-2 py-1 text-xs font-medium text-gray-700 rounded-md bg-gray-50 ring-1 ring-inset ring-gray-600/20">
                  {% if animal.is_dead %}
                    Deceased
                  {% else %}
                    Alive
                  {% endif %}
                </span>
              </td>
              <td class="px-3 py-5 text-sm text-right text-gray-500 whitespace-nowrap">
                <span class="inline-flex items-center px-2 py-1 text-xs font-medium text-gray-700 rounded-md bg-gray-50 ring-1 ring-inset ring-gray-600/20">
                  {% if animal.is_dewormed %}
                    Dewormed
                  {% else %}
                    Not Dewormed
                  {% endif %}
                </span>
              </td>
              <td class="px-3 py-5 text-sm text-right text-gray-500 whitespace-nowrap">
                <span class="inline-flex items-center px-2 py-1 text-xs font-medium text-gray-700 rounded-md bg-gray-50 ring-1 ring-inset ring-gray-600/20">
                  {% if animal.is_neutered %}
                    Neutered
                  {% else %}
                    Not Neutered
                  {% endif %}
                </span>
              </td>
              <td class="px-3 py-5 text-sm text-right text-gray-500 whitespace-nowrap">
                <span class="inline-flex items-center px-2 py-1 text-xs font-medium text-gray-700 rounded-md bg-gray-50 ring-1 ring-inset ring-gray-600/20">
                  {% if animal.in_shelter %}
                    In Shelter
                  {% else %}
                    Not In Shelter
                  {% endif %}
                </span>
              </td>
              <td class="px-3 py-5 text-sm text-right text-gray-500 whitespace-nowrap">
                <span class="inline-flex items-center px-2 py-1 text-xs font-medium text-gray-700 rounded-md bg-gray-50 ring-1 ring-inset ring-gray-600/20">
                  {% if animal.is_rescued %}
                    Rescued
                  {% else %}
                    Not Rescued
                  {% endif %}
                </span>
              </td>
              <td class="relative py-5 pl-3 pr-4 text-sm font-medium text-right whitespace-nowrap sm:pr-0">
                {% if is_admin %}
                  <div class="dropdown dropdown-end">
                    <label tabindex="0">
                      <div class="flex items-center justify-center w-6 h-6 rounded-full cursor-pointer hover:bg-gray-300 aspect-square">
                        <i class="fa-solid fa-ellipsis"></i>
                      </div>
                    </label>
                    <ul tabindex="0"
                        class="dropdown-content z-[1] menu p-2 border bg-base-100 rounded-box shadow-sm w-32">
                      <li>
                        <a href="{{ url_for('admin.animals.edit_animal', id=animal.id) }}">Edit</a>
                      </li>
                      <li>
                        <button class="open-delete-modal" data-animal-id="{{ animal.id }}">Delete</button>
                      </li>
                    </ul>
                  </div>
                {% endif %}
              </td>
            </tr>
          </tbody>
        {% endfor %}
      </table>
      {% if animals | length == 0 %}
        <div class="flex flex-col items-center justify-center gap-8 p-12 border-t">
          <img class="w-full max-w-sm"
               src="{{ url_for('static', filename='images/empty_list.png') }}"
               alt="Kid hugging her dog"
               width="auto"
               height="auto" />
          <h3 class="text-lg font-medium">No Animal Found.</h3>
        </div>
      {% endif %}
    </div>
  </div>
  {% if is_admin %}
    <script>
    const deleteButtons = document.getElementById("open-delete-modal-table");
    const deleteModal = document.getElementById("delete-modal-table")
    const deleteAnyway = document.getElementById("delete-anyway-table")
    
    deleteButtons.forEach((deleteButton) => {
      deleteButton.addEventListener("click", function () {
        deleteModal.showModal();
        deleteAnyway.addEventListener("click", async function () {
          await fetch(`/admin.animals.${deleteButton.dataset.animalId}/delete`, {
            method: "DELETE",
            headers: {
              "X-CSRFToken": document.querySelector("meta[name='csrf_token']").content,
            },
          });
          window.location.reload();
        });
      });
    });
    </script>
  {% endif %}
{% endmacro %}
