{% macro render_field(field, container_class, footer_text) %}
  <div class="{{ container_class }} w-full form-control">
    {% if field.type != "BooleanField" %}
      {% if field.render_kw.label %}
        {{ field.label(class="label label-text", text=field.render_kw.label) }}
      {% else %} 
        {{ field.label(class="label label-text") }}
      {% endif %}
    {% endif %}
    {# ################################ #}
    {# ################################ #}
    {% if field.type == "SelectField" %}
      <div class="relative">
        <select class="w-full select select-bordered" name="{{ field.name }}">
          <option value="">Select {{ field.label.text }}</option>
          {% for key, value in field.choices %}
            <option value="{{ key }}" {% if field.data == key %}selected{% endif %}>{{ value }}</option>
          {% endfor %}
        </select>
      </div>
    {% elif field.type == "BooleanField" %}
      <div class="relative">
        <label class="cursor-pointer label">
          <span class="label-text">{{ field.label.text }}</span>
          <input type="checkbox"
                 name="{{ field.name }}"
                 {% if field.data is true %}checked='checked'{% endif %}
                 class="checkbox checkbox-primary" />
        </label>
      </div>
    {% elif field.type == "TextAreaField" %}
      <div class="relative">
        <textarea class="w-full textarea textarea-bordered"
                  placeholder="{{ field.render_kw.placeholder }}"
                  name="{{ field.name }}"></textarea>
      </div>
    {% else %}
      {{ field(class="w-full input input-bordered", placeholder=field.label.text, **kwargs) }}
    {% endif %}
    {# ################################ #}
    {# ################################ #}
    {% if field.errors %}
      <ul class="mt-2">
        {% for error in field.errors %}
          <li class="text-xs text-red-500">
            {{ error }}
            {% if 'admin' in error %}
              <a href="{{ url_for('admin.login',) }}"
                 class="font-bold text-primary-500">Click here</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
      <style>
          [name="{{ field.name }}"] {
            border-color: #ff6f70;
          }
      </style>
    {% endif %}
    {# ################################ #}
    {# ################################ #}
    {% if footer_text %}
      <span>
        <small class="text-xs text-gray-500">{{ footer_text }}</small>
      </span>
    {% endif %}
  </div>
{% endmacro %}
