{% macro donation_request_donator(donation, is_user=False) %}
  <dialog id="confirm-donation-modal"
          class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
      <h2 class="mb-4 text-2xl font-bold">Confirm Donation</h2>
      <p class="mb-4">Are you sure you want to confirm this donation?</p>
      <div class="flex justify-end">
        <button id="cancel-confirm-donation"
                class="px-4 py-2 mr-4 font-bold text-gray-800 bg-gray-300 rounded-full hover:bg-gray-400">
          Cancel
        </button>
        <button id="confirm-donation"
                class="px-4 py-2 font-bold text-white bg-green-500 rounded-full hover:bg-green-600">Confirm</button>
      </div>
    </div>
  </dialog>
  <dialog id="reject-donation-modal" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
      <h2 class="mb-4 text-2xl font-bold">Reject Donation</h2>
      <p class="mb-4">Are you sure you want to reject this donation?</p>
      <div class="flex justify-end">
        <button id="cancel-reject-donation"
                class="px-4 py-2 mr-4 font-bold text-gray-800 bg-gray-300 rounded-full hover:bg-gray-400">
          Cancel
        </button>
        <button id="reject-donation"
                class="px-4 py-2 font-bold text-white bg-red-500 rounded-full hover:bg-red-600">Reject</button>
      </div>
    </div>
  </dialog>
  <div class="flex flex-col w-full gap-5 p-5 border rounded-xl g-white">
    <div class="flex items-center gap-5">
      <img src="{{ get_image(donation.user_photo_url) }}"
           class="w-12 h-12 rounded-full"
           height="auto"
           width="auto"
           alt="donator image" />
      <div class="flex flex-col">
        <p class="font-semibold">{{ donation.user_name }}</p>
        <p class="text-sm">{{ donation.created_at | pretty_date }}</p>
      </div>
    </div>
    {% if donation.amount %}
      <p class="font-medium">{{ donation.amount | format_currency }}</p>
    {% else %}
      <p class="font-medium">{{ donation.item_list }}</p>
    {% endif %}
    <div class="flex gap-2">
      {% for picture in donation.pictures %}
        <div>
          <img src="{{ get_image(picture) }}"
               alt="donations picture"
               class="aspect-video object-contain border max-h-[80px]"
               width="auto"
               height="auto">
        </div>
      {% endfor %}
    </div>
    {% set is_touched = donation.is_confirmed or donation.is_rejected %}
    {% if is_touched %}
      {% if donation.is_confirmed %}
        <div class="flex items-center justify-center flex-1 p-3 text-white rounded-lg bg-success">Confirmed</div>
      {% else %}
        <div class="flex items-center justify-center flex-1 p-3 text-white rounded-lg bg-error">Rejected</div>
      {% endif %}
    {% else %}
      {% if is_user %}
        <div class="flex items-center justify-center flex-1 p-3 text-white rounded-lg bg-info">Pending</div>
      {% endif %}
    {% endif %}
    {% if not is_user and not is_touched %}
      <div class="flex gap-3">
        <button type="button"
                id="reject-donation-button-{{ donation.id }}"
                class="flex-1 text-white btn btn-error">Reject</button>
        <button type="button"
                id="confirm-donation-button-{{ donation.id }}"
                class="flex-1 text-white btn btn-primary">Set as confirm</button>
      </div>
    {% endif %}
  </div>
  <script>
    const confirmDonationModal = document.querySelector("#confirm-donation-modal");
    const rejectDonationModal = document.querySelector("#reject-donation-modal");

    {% if not is_user %}
      const confirmButton{{ donation.id }} = document.querySelector("#confirm-donation-button-{{ donation.id }}");
      const rejectButton{{ donation.id }} = document.querySelector("#reject-donation-button-{{ donation.id }}");

      confirmButton{{ donation.id }}.addEventListener("click", () => {
        confirmDonationModal.showModal();
      });

      rejectButton{{ donation.id }}.addEventListener("click", () => {
        rejectDonationModal.showModal();
      });

      const confirmDonationButton = document.querySelector("#confirm-donation");
      const cancelConfirmDonationButton = document.querySelector("#cancel-confirm-donation");

      confirmDonationButton.addEventListener("click", () => {
        fetch("{{ url_for('admin.ask_for_help.confirm_donation', id=donation.donation_request_id, donator_id=donation.id) }}", {
          method: "POST",
          headers: {
            "X-CSRFToken": document.querySelector("meta[name='csrf_token']").content,
          },
        })
        .then(response => response.json())
        .then(data => {
          showToast(data.status, data.message);
          confirmModal.close();
        })
        .catch(error => {
          console.error("Error confirming donation:", error);
          showToast("error", "Error confirming donation. Please try again later.");
        });
      });

      cancelConfirmDonationButton.addEventListener("click", () => {
        confirmDonationModal.close();
      });

      const rejectDonationButton = document.querySelector("#reject-donation");
      const cancelRejectDonationButton = document.querySelector("#cancel-reject-donation");


      // Event listener for the rejection dialog button
      rejectDonationButton.addEventListener("click", () => {
        fetch("{{ url_for('admin.ask_for_help.reject_donation', id=donation.donation_request_id, donator_id=donation.id) }}", {
          method: "POST",
          headers: {
            "X-CSRFToken": document.querySelector("meta[name='csrf_token']").content,
          },
        })
        .then(response => response.json())
        .then(data => {
          showToast(data.status, data.message);
          rejectDonationModal.close();
        })
        .catch(error => {
          console.error("Error rejecting donation:", error);
          showToast("error", "Error rejecting donation. Please try again later.");
        });
      });


      cancelRejectDonationButton.addEventListener("click", () => {
        rejectDonationModal.close();
      });
    {% endif %}
  </script>
{% endmacro %}
