{% macro donation_request_update(update) %}
  <div class="flex flex-col w-full gap-5 p-5 border rounded-xl g-white">
    <div class="flex items-center gap-5">
      <img src="{{ get_image(update.user_photo_url) }}"
           class="w-12 h-12 rounded-full"
           height="auto"
           width="auto"
           alt="donator image" />
      <div class="flex flex-col">
        <p class="font-semibold">{{ update.user_name }}</p>
        <p class="text-sm">{{ update.created_at | pretty_date }}</p>
      </div>
    </div>
    <p class="font-medium">{{ update.update_text }}</p>
    <div class="flex gap-2">
      {% for picture in update.pictures %}
        <div class="max-w-[100px] border">
          <img src="{{ get_image(picture) }}"
               alt="donations picture"
               width="auto"
               height="auto">
        </div>
      {% endfor %}
    </div>
  </div>
{% endmacro %}
