{% from "./_helpers/macros/custom_select.html" import custom_select with context %}
{% macro event_filters(is_user=False) %}
  <dialog id="filters" class="modal modal-bottom sm:modal-middle">
    <form id="filter-form" class="modal-box">
      <div class="pb-4 border-b">
        <h3 class="text-lg font-bold">Filters</h3>
      </div>
      <div class="flex flex-col gap-6 pt-4">
        {% if not is_user %}
          {{ custom_select(label="Who Can See It", name="who_can_see_it", options=['Public', 'Verified User'], current_selected=filters['who_can_see_it']) }}
        {% endif %}
        {{ custom_select(label="Status", name="status", options=['Scheduled', 'In Progress', 'Completed', 'Cancelled'], current_selected=filters['status']) }}
      </div>
      <div class="modal-action">
        <form method="dialog">
          <button type="button" id="reset-filter-form" class="btn">Clear Filter</button>
          <button class="btn">Search</button>
        </form>
      </div>
    </form>
  </dialog>
  <div class="flex items-center justify-between py-4">
    <form id="search-form"  class="flex items-center w-full max-w-xl gap-4">
      <input class="w-full input input-bordered"
             placeholder="Search by name"
             value="{{ filters.query }}"
             name="query" />
      <button id="search-btn" type="submit" class="btn">Search</button>
    </form>
    <button class="relative text-gray-700 btn" onclick="filters.showModal()">
      {% if active_filters == 0 %}
        <i class="fa-solid fa-filter"></i>
      {% else %}
        <div class="flex items-center justify-center w-4 h-4 rounded-full bg-primary-500">
          <span class="text-xs font-medium text-white">{{ active_filters }}</span>
        </div>
      {% endif %}
      Filters
    </button>
  </div>
  <script>
  document.addEventListener('DOMContentLoaded', function() {
    const filterForm = document.getElementById('filter-form');
    const searchForm = document.getElementById('search-form');
    const resetFilterForm = document.getElementById('reset-filter-form')

    resetFilterForm?.addEventListener('click', () => {
      const filterFormData = new FormData(filterForm);
      const url = new URL(window.location.href);
      const params = new URLSearchParams(window.location.search);
      filterFormData?.forEach((item, key) => {
        if (params.get(key)){
          params.delete(key)
        }
      })
      url.search = params;
      window.location.href = url;
    })
    
    function setParams() {
      const filterFormData = new FormData(filterForm);
      const searchFormData = new FormData(searchForm);

      const filteredFormData = {};

      filterFormData.forEach((value, key) => {
        if (value !== "") {
          filteredFormData[key] = value;
        }
      });
    

      searchFormData.forEach((value, key) => {
        if (value !== "") {
          filteredFormData[key] = value;
        }
      });

      const url = new URL(window.location.href);
      const params = new URLSearchParams(filteredFormData);
      url.search = params;
      window.location.href = url;
    }
  
    filterForm?.addEventListener("submit", function(event) {
      event.preventDefault();
      setParams()
    });

    searchForm.addEventListener('submit', function(event) {
      event.preventDefault();
      setParams()
    });
  });
  </script>
{% endmacro %}
