{% from "./_helpers/macros/empty_list.html" import empty_list %}
{% macro event_tables(events, is_user=False) %}
  <div class="flow-root">
    <div class="w-full">
      <table class="relative min-w-full divide-y divide-gray-300">
        <thead>
          <tr>
            <th class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900">Cover Photo</th>
            <th class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Name</th>
            <th class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900">Location</th>
            <th class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900">Start Date</th>
            <th class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900">End Date</th>
            <th class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900">Status</th>
            <th class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900 whitespace-nowrap">Who can see</th>
            {% if not is_user %}
              <th class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900 whitespace-nowrap">Action</th>
            {% endif %}
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          {% for event in events %}
            {% if is_user %}
              {% set href = url_for('user.events.view_event', id=event.id) %}
            {% else %}
              {% set href = url_for('admin.event.view_event', id=event.id) %}
            {% endif %}
            <tr class="{{ 'border-2 border-green-500' if event['status'] == 'In Progress' else 'border' }}">
              <td class="py-5 pl-4 pr-3 text-sm whitespace-nowrap">
                <a href="{{ href }}">
                  <img class="transition-all duration-300 border object-cover rounded-lg aspect-[800/320] w-64 bg-gray-50 hover:scale-105"
                       src="{{ get_image(event.cover_photo_url) }}"
                       alt="Cover Photo"
                       width="auto"
                       height="auto" />
                </a>
              </td>
              <td class="px-3 py-5 ">
                <p class="font-bold text-gray-800">{{ event.name }}</p>
                <p>{{ event.description }}</p>
              </td>
              <td class="px-3 py-5 text-sm text-right text-gray-600">{{ event.location }}</td>
              <td class="px-3 py-5 text-sm text-right text-gray-600 whitespace-nowrap">
                {{ event.start_date.strftime("%b %d, %Y") }}
              </td>
              <td class="px-3 py-5 text-sm text-right text-gray-600 whitespace-nowrap">
                {{ event.end_date.strftime("%b %d, %Y") }}
              </td>
              <td class="px-3 py-5 text-sm text-right text-gray-600 whitespace-nowrap">{{ event.status }}</td>
              <td class="px-3 py-5 text-sm text-right text-gray-600 whitespace-nowrap">{{ event.who_can_see_it }}</td>
              {% if not is_user %}
                <td class="px-3 py-5 text-sm text-right text-gray-600 whitespace-nowrap">
                  <div class="dropdown dropdown-end">
                    <label tabindex="0">
                      <div class="flex items-center justify-center w-6 h-6 rounded-full cursor-pointer hover:bg-gray-300 aspect-square">
                        <i class="fa-solid fa-ellipsis"></i>
                      </div>
                    </label>
                    <ul tabindex="0"
                        class="dropdown-content z-[1] menu p-2 border bg-base-100 rounded-box w-32">
                      <li>
                        <a href="{{ url_for('admin.event.edit_event', id=event.id) }}">Edit</a>
                      </li>
                      <li>
                        <button id="open-delete-modal" data-event-id="{{ event.id }}">Delete</button>
                      </li>
                    </ul>
                  </div>
                </td>
              {% endif %}
            </tr>
          </tbody>
        {% endfor %}
      </table>
      {{ empty_list(events, "No Events Found.") }}
    </div>
  </div>
{% endmacro %}
