{% from "./_helpers/macros/empty_list.html" import empty_list %}
{% macro for_adoption_tables(adoptions, is_dashboard=False) %}
  <div class="flex flex-col gap-2">
    {% for adoption in adoptions %}
      <div class="grid grid-cols-10 gap-4 p-4 bg-white shadow-md rounded-xl">
        <div class="flex col-span-5 gap-4">
          <a href="{{ url_for('admin.adoption.adoption', id=adoption.id) }}">
            <div class="w-16 h-16 rounded-full ring-2 ring-primary-500 ring-offset-2 aspect-square">
              <img src="{{ get_image(adoption.photo_url) }}"
                   class="object-cover w-full rounded-full aspect-square"
                   alt="User's photo"
                   width="auto"
                   height="auto" />
            </div>
          </a>
          <div class="flex items-center gap-2">
            <div class="flex flex-col">
              <h1 class="font-semibold">{{ adoption.name }}</h1>
            </div>
          </div>
        </div>
        <div class="flex items-center col-span-3 gap-2">
          {% if adoption.is_adopted %}
            <div class="flex items-center justify-center w-4 h-4 gap-2 bg-green-500 rounded-full">
              <i class="text-xs text-white fa-solid fa-check"></i>
            </div>
            <span class="text-sm font-thin">Adopted</span>
          {% else %}
            <div class="flex items-center justify-center w-4 h-4 gap-2 bg-gray-500 rounded-full">
              <i class="text-xs text-white fa-solid fa-check"></i>
            </div>
            <span class="text-sm font-thin">Adopted</span>
          {% endif %}
        </div>
        <div class="flex items-center col-span-1 gap-2">
          <p class="text-xl font-semibold leading-4">{{ adoption.application_count }}</p>
          <span class="text-sm font-thin">Applicants</span>
        </div>
      </div>
    {% endfor %}
  </div>
{% endmacro %}
