{% from "./_helpers/macros/empty_list.html" import empty_list %}
{% macro for_adoption_tables(adoptions) %}
  <div class="flow-root">
    <div class="w-full">
      <table class="min-w-full divide-y divide-gray-300">
        <thead>
          <tr>
            <th scope="col"
                class="px-3 py-3.5 text-sm font-semibold text-left text-gray-900">Name</th>
            <th scope="col"
                class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Description</th>
            <th scope="col"
                class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900">Status</th>
            <th scope="col"
                class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900">Active Applications</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          {% for adoption in adoptions %}
            {% set href = url_for('admin.adoption.adoption', id=adoption.id) %}
            <tr class="transition-all duration-200 hover:cursor-pointer hover:bg-slate-50">
              <td class="py-5 pl-4 pr-3 text-sm whitespace-nowrap">
                <div class="flex items-center">
                  <a href="{{ href }}">
                    <div class="flex-shrink-0 h-11 w-11">
                      <img class="border rounded-full h-11 w-11"
                           src="{{ get_image(adoption.photo_url) }}"
                           alt=""
                           height="auto"
                           width="auto">
                    </div>
                  </a>
                  <div class="ml-4">
                    <a href="{{ href }}">
                      <div class="font-medium text-gray-900">{{ adoption.name }}</div>
                    </a>
                  </div>
                </div>
              </td>
              <td class="px-3 py-5 text-sm text-left text-gray-500">{{ adoption.description | truncate(80) }}</td>
              <td class="px-3 py-5 text-sm text-right text-gray-500 whitespace-nowrap">
                <span class="inline-flex items-center px-2 py-1 text-xs font-medium text-gray-700 rounded-md bg-gray-50 ring-1 ring-inset ring-gray-600/20">
                  {% if adoption.is_adopted %}
                    Adopted
                  {% else %}
                    Not Adopted
                  {% endif %}
                </span>
              </td>
              <td class="px-3 py-5 text-right text-md">
                <span class="inline-flex items-center justify-center px-3 py-1 font-medium text-white rounded-lg bg-info">
                  {{ adoption.application_count }}
                </span>
              </td>
            </tr>
          </tbody>
        {% endfor %}
      </table>
      {{ empty_list(adoptions, "No Adoptions Found.") }}
    </div>
  </div>
{% endmacro %}
