{% from "./_helpers/macros/empty_list.html" import empty_list %}
{% macro render_notifications(notifications, type) %}
  <div class="flex flex-col w-full gap-8 mx-auto max-w-7xl">
    <h1 class="text-2xl font-bold">Notifications</h1>
    <div class="flex justify-end">
      <button id="mark-all-as-read" class="btn btn-sm">Mark all as read</button>
    </div>
    <div id="notifications-container" class="flex flex-col">
      {% for notification in notifications %}
        <div data-id="{{ notification.id }}"
             data-redirect-url="{{ notification.redirect_url }}"
             data-is-read="{{ notification.is_read }}"
             class="flex group items-center justify-between w-full py-4 pl-3 pr-4 shadow first:border-t first:rounded-t-lg last:rounded-b-lg {{ 'bg-slate-50' if notification.is_read else 'bg-primary-100 bg-opacity-10' }} border-l border-r border-b cursor-pointer notification-item">
          <div class="flex items-center w-10/12 gap-2">
            <div id="status-icon"
                 class="w-3 h-3 rounded-full rouned-full {{ 'bg-primary-500' if not notification.is_read else 'bg-transparent' }}">
            </div>
            <div class="flex items-center gap-4">
              <div class="relative h-16 aspect-square">
                <img class="object-cover w-full h-full border rounded-full bg-gray-50"
                     src="{{ get_image(notification.notifier_photo_url) }}"
                     alt="user's avatar"
                     height="auto"
                     width="auto" />
                {% if notification.type == 'ADOPTION_REQUEST' %}
                  <div class="absolute flex items-center justify-center w-8 h-8 rounded-full shadow -bottom-1 -right-1 bg-primary-500">
                    <i class="text-white fa-solid fa-file-invoice"></i>
                  </div>
                {% elif notification.type == 'ADOPTION_STATUS_UPDATE' %}
                  <div class="absolute flex items-center justify-center w-8 h-8 rounded-full shadow -bottom-1 -right-1 bg-primary-500">
                    <i class="text-white fa-solid fa-calendar-days"></i>
                  </div>
                {% elif notification.type == 'ADD_DONATION_MONEY' %}
                  <div class="absolute flex items-center justify-center w-8 h-8 bg-green-500 rounded-full shadow -bottom-1 -right-1">
                    <i class="text-white fa-solid fa-money-bill"></i>
                  </div>
                {% elif notification.type == 'ADD_DONATION_IN_KIND' %}
                  <div class="absolute flex items-center justify-center w-8 h-8 rounded-full shadow bg-violet-500 -bottom-1 -right-1">
                    <i class="text-white fa-solid fa-hand-holding-heart"></i>
                  </div>
                {% elif notification.type == 'EVENT_INVITED' %}
                  <div class="absolute flex items-center justify-center w-8 h-8 bg-red-500 rounded-full shadow -bottom-1 -right-1">
                    <i class="text-white fa-solid fa-calendar-day"></i>
                  </div>
                {% endif %}
              </div>
              <div class="flex flex-col gap-1">
                <p class="{{ 'text-gray-600' if notification.is_read else 'font-medium' }}">{{ notification.message }}</p>
                <p id="notification-date"
                   class="text-sm {{ 'text-gray-400' if notification.is_read else 'text-primary-500' }}">
                  {{ notification.created_at }}
                </p>
              </div>
            </div>
          </div>
          <div class="flex items-center gap-4">
            <div class="flex items-center justify-end gap-4">
              {% if notification.preview_image_url %}
                <img class="object-cover w-16 h-16 border aspect-square rounded-2xl bg-gray-50"
                     src="{{ get_image(notification.preview_image_url) }}"
                     alt="user's avatar"
                     height="auto"
                     width="auto" />
              {% endif %}
            </div>
            <div>
              <div class="drop-down" data-dropdown>
                <button data-dropdown-button
                        class="flex items-center justify-center w-10 h-10 transition-all duration-200 border rounded-full opacity-50 hover:shadow drop-down-button group-hover:opacity-100 bg-gray-50">
                  <i class="text-lg pointer-events-none fa-solid fa-ellipsis"></i>
                </button>
                <ul data-dropdown-content tabindex="0" class="drop-down-content">
                  <li id="mark-as-read"
                      role="button"
                      tabindex="0"
                      class="flex items-center gap-3 p-2 rounded-sm hover:bg-slate-100">
                    <i class="fa-solid fa-check"></i>
                    <span class="text-sm pointer-events-none">Mark as read</span>
                  </li>
                  <li id="mark-as-archived"
                      role="button"
                      tabindex="0"
                      class="flex items-center gap-3 p-2 rounded-sm hover:bg-slate-100">
                    <i class="fa-solid fa-box-archive"></i>
                    <span class="text-sm pointer-events-none">Hide this notification</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      {{ empty_list(notifications, "No Notifications Found.") }}
    </div>
  </div>
  <script>
      async function markAllAsRead() {
        try {
          await fetch("/{{ type }}/notifications/mark-all-as-read", {
            method: "PUT",
            headers: {
              "X-CSRFToken": document.querySelector("meta[name='csrf_token']").content,
            },
          });
        } catch (error) {
          console.error('Fetch error:', error);
        }
      }

      async function markAsRead(id) {
        try {
          const response = await fetch(`/{{ type }}/notifications/mark-as-read/${id}`, {
            method: "PUT",
            headers: {
              "X-CSRFToken": document.querySelector("meta[name='csrf_token']").content,
            },
          });
          return response;
        } catch (error) {
          console.error('Fetch error:', error);
        }
      }
      
      async function markAsArchived(id, isRead) {
        try {
          const response = await fetch(`/{{ type }}/notifications/mark-as-archived/${id}`, {
            method: "PUT",
            headers: {
              "X-CSRFToken": document.querySelector("meta[name='csrf_token']").content,
            },
          });
          return response;
        } catch (error) {
          console.error('Fetch error:', error);
        }
      }

      function updateNotificationDOM(params) {
        const container = document.getElementById("notifications-container");
        const notificationCount = document.getElementById("notification-count")

        Array.from(container.children).forEach(async (notificationElement) => {
          const notificationId = notificationElement.dataset.id;

          if (params.id && notificationId != params.id) {
            return;
          }

          if (params.id && params.markAsArchived) {
            notificationElement.remove();
            if (container.children.length == 0) {
              window.location.reload();
            }
          } else {
            notificationElement.classList.remove("bg-white");
            notificationElement.classList.add("bg-slate-50");

            const dateElement = notificationElement.querySelector("#notification-date");
            const statusElement = notificationElement.querySelector("#status-icon");

            dateElement.classList.replace("text-primary-500", "text-gray-400");

            if (statusElement) {
              statusElement.classList.remove("bg-primary-500");
              statusElement.classList.add("bg-transparent");
              notificationElement.setAttribute("data-is-read", true)
            }
          }


          if (notificationCount) {
            if (params.markAllAsRead) {
              notificationCount.remove();
            } else {
              const updatedCount = Number(notificationCount.innerText) - 1;
              if (updatedCount == 0) {
                notificationCount.remove();
              } else {
                notificationCount.firstElementChild.innerText = updatedCount;
              }
            }
          }
        });   
      }

      
      const notificationItems = document.querySelectorAll(".notification-item");
      const markAllAsReadBtn = document.getElementById("mark-all-as-read")

      notificationItems.forEach((element) => {
        element.addEventListener('click', async (e) => {
          const id = element.getAttribute("data-id");
          const redirectUrl = element.getAttribute("data-redirect-url");
          const isRead = element.getAttribute("data-is-read") == "1"
          
          if (e.target.matches("[data-dropdown-button]")) return;
          if (e.target.matches("[id='mark-as-read']")) {
            await markAsRead(id);
            updateNotificationDOM({ id });
            return;
          }
          if (e.target.matches("[id='mark-as-archived']")) {
            if(!isRead) {
              await markAsRead(id);
            }
            await markAsArchived(id);
            updateNotificationDOM({ id, markAsArchived: true });
            return;
          }
        
          try {
            await markAsRead(id);
            window.location.href = redirectUrl;
          } catch (err) {
            showToast("error", "Something went wrong!")
          }
        })
      })

      markAllAsReadBtn.addEventListener('click', async () => {
        await markAllAsRead();
        updateNotificationDOM({ markAllAsRead: true })
      })
  </script>
{% endmacro %}
