{% macro render_notifications(notifications, type) %}
  <div class="flex flex-col gap-8">
    <h1 class="text-2xl font-bold">Notifications</h1>
    <div class="flex justify-end">
      <button id="mark-all-as-read" class="btn btn-sm">Mark all as read</button>
    </div>
    <div id="notifications-container" class="flex flex-col">
      {% for notification in notifications %}
        <div data-id="{{ notification.id }}"
             data-redirect-url="{{ notification.redirect_url }}"
             class="flex items-center justify-between w-full p-4 shadow first:border-t first:rounded-t-lg last:rounded-b-lg {{ 'bg-slate-50' if notification.is_read else 'bg-white' }} border-l border-r border-b cursor-pointer hover:bg-gray-50 notification-item">
          <div class="flex items-center w-10/12 gap-4">
            <div class="relative h-16 aspect-square">
              <img class="object-cover w-full h-full border rounded-full bg-gray-50"
                   src="{{ get_image(notification.user_photo_url) }}"
                   alt="user's avatar"
                   height="auto"
                   width="auto" />
              {% if notification.type == 'ADOPTION_REQUEST' %}
                <div class="absolute flex items-center justify-center w-8 h-8 rounded-full shadow -bottom-1 -right-1 bg-primary-500">
                  <i class="text-white fa-solid fa-file-invoice"></i>
                </div>
              {% elif notification.type == 'ADOPTION_STATUS_UPDATE' %}
                <div class="absolute flex items-center justify-center w-8 h-8 rounded-full shadow -bottom-1 -right-1 bg-primary-500">
                  <i class="text-white fa-solid fa-calendar-days"></i>
                </div>
              {% endif %}
            </div>
            <div class="flex flex-col gap-1">
              <p class="{{ 'text-gray-600' if notification.is_read else 'font-medium' }}">{{ notification.message }}</p>
              <p id="notification-date"
                 class="text-sm {{ 'text-gray-400' if notification.is_read else 'text-primary-500' }}">
                {{ notification.created_at }}
              </p>
            </div>
          </div>
          <div class="flex items-center justify-end w-2/12 gap-4">
            {% if not notification.is_read %}
              <div id="status-icon"
                   class="w-4 h-4 rounded-full bg-primary-500 rouned-full"></div>
            {% endif %}
            <img class="object-cover w-16 h-16 border aspect-square rounded-2xl bg-gray-50"
                 src="{{ get_image(notification.animal_photo_url) }}"
                 alt="user's avatar"
                 height="auto"
                 width="auto" />
          </div>
        </div>
      {% endfor %}
      {% if notifications | length == 0 %}
        <div class="flex flex-col items-center justify-center gap-8 p-12 my-16">
          <img class="w-full max-w-sm"
               src="{{ url_for('static', filename='images/empty_list.png') }}"
               alt="Kid hugging her dog"
               width="auto"
               height="auto" />
          <h3 class="text-lg font-medium">No Notification Found.</h3>
        </div>
      {% endif %}
    </div>
  </div>
  <script>
      async function markAllAsRead() {
        try {
          await fetch("/{{ type }}/notifications/mark-all-as-read", {
            method: "PUT",
            headers: {
              "X-CSRFToken": document.querySelector("meta[name='csrf_token']").content,
            },
          });
          
          const container = document.getElementById("notifications-container");
          const notificationCount = document.getElementById("notification-count")

          Array.from(container.children).forEach(async (notificationElement) => {
            console.log(notificationElement)
            const notificationId = notificationElement.dataset.id;

            notificationElement.classList.remove("bg-white");
            notificationElement.classList.add("bg-slate-50");

            const dateElement = notificationElement.querySelector("#notification-date");
            const statusElement = notificationElement.querySelector("#status-icon");

            dateElement.classList.replace("text-primary-500", "text-gray-400");

            if (statusElement) {
              statusElement.remove();
            }

            if (notificationCount) {
              notificationCount.remove()
            }

          });
          
          showToast("success", "All notifications marked as read successfully.");
        } catch (error) {
          console.error('Fetch error:', error);
        }
      }

      
      async function markAsRead(id, redirect_url) {
        try {
          const response = await fetch(`/{{ type }}/notifications/mark-as-read/${id}`, {
            method: "PUT",
            headers: {
              "X-CSRFToken": document.querySelector("meta[name='csrf_token']").content,
            },
          });

          if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
          }

          console.log('Redirecting to:', redirect_url);
          window.location.href = redirect_url;
        } catch (error) {
          console.error('Fetch error:', error);
        }
      }

      
      const notificationItems = document.querySelectorAll(".notification-item");
      const markAllAsReadBtn = document.getElementById("mark-all-as-read")

      notificationItems.forEach((element) => {
        element.addEventListener('click', () => {
          const id = element.getAttribute("data-id");
          const redirectUrl = element.getAttribute("data-redirect-url");
          markAsRead(id, redirectUrl)
        })
      })

      markAllAsReadBtn.addEventListener('click', () => {
        markAllAsRead();
      })
  </script>
{% endmacro %}
