{% macro pagination_buttons() %}
  <div class="flex items-center justify-between py-3 bg-white border-t border-gray-200">
    <div class="flex justify-between flex-1 sm:hidden">
      <a href="#"
         class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-gray-50">Previous</a>
      <a href="#"
         class="relative inline-flex items-center px-4 py-2 ml-3 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-gray-50">Next</a>
    </div>
    <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
      <div>
        <p class="text-sm text-gray-700">
          Showing
          <span class="font-medium">{{ pagination['page_count'][0] }}</span>
          to
          <span class="font-medium">{{ pagination['page_count'][1] }}</span>
          of
          <span class="font-medium">{{ pagination['total_count'] }}</span>
          results
        </p>
      </div>
      <div>
        <nav class="inline-flex -space-x-px rounded-md shadow-sm isolate"
             aria-label="Pagination">
          <a href="{{ pagination['prev_url'] }}"
             class="relative inline-flex items-center px-2 py-2 text-gray-400 disabled rounded-l-md ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 {{ 'pointer-events-none cursor-not-allowed opacity-50' if pagination['prev_url'] == '' else '' }}">
            <span class="sr-only">Previous</span>
            <svg class="w-5 h-5"
                 viewBox="0 0 20 20"
                 fill="currentColor"
                 aria-hidden="true">
              <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
            </svg>
          </a>
          {# ============================= #}
          <!-- Current: "z-10 bg-indigo-600 text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", Default: "text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:outline-offset-0" -->
          {% for page_item in pagination['pages'] %}
            {% if page_item['is_active'] == true %}
              <a href="#"
                 aria-current="page"
                 class="relative z-10 inline-flex items-center px-4 py-2 text-sm font-semibold text-white bg-primary-600 focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">{{ page_item['label'] }}</a>
            {% elif page_item['url'] != '' %}
              <a href="{{ page_item['url'] }}"
                 class="relative items-center hidden px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 md:inline-flex">{{ page_item['label'] }}</a>
            {% else %}
              <span class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-700 ring-1 ring-inset ring-gray-300 focus:outline-offset-0">{{ page_item['label'] }}</span>
            {% endif %}
          {% endfor %}
          {# ============================= #}
          <a href="{{ pagination['next_url'] }}"
             aria-disabled="{{ 'true' if pagination['next_url'] is not none else 'false' }}"
             class="relative inline-flex items-center px-2 py-2 text-gray-400 rounded-r-md ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 {{ 'pointer-events-none cursor-not-allowed opacity-50' if pagination['next_url'] == '' else '' }}">
            <span class="sr-only">Next</span>
            <svg class="w-5 h-5"
                 viewBox="0 0 20 20"
                 fill="currentColor"
                 aria-hidden="true">
              <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
            </svg>
          </a>
        </nav>
      </div>
    </div>
  </div>
{% endmacro %}
