{% set active_page = "user.donation" %}
{% extends "./_helpers/layout/user_layout.html" %}
{% from "./_helpers/macros/user_donation_tables.html" import user_donation_tables with context %}
{% from "./_helpers/macros/donation_filters.html" import donation_filters with context %}
{% from "./_helpers/macros/pagination_buttons.html" import pagination_buttons with context %}
{% block title %}
  Donations
{% endblock title %}
{% block content %}
  <div class="flex flex-col gap-8">
    {{ donation_filters() }}
    <div class="flex items-center">
      <div class="flex-auto">
        <h1 class="text-2xl font-bold leading-6 text-gray-900">Donations ({{ pagination['total_count'] }})</h1>
      </div>
      {% include "./_helpers/partials/view_form.html" %}
    </div>
    {% if not view_type or view_type == "card" %}
      {{ user_donation_tables(donations) }}
    {% else %}
      {{ user_donation_tables(donations) }}
    {% endif %}
    {{ pagination_buttons() }}
  </div>
{% endblock content %}
