{% set active_page = "admin.adoptions" %}
{% extends "./_helpers/layout/admin_layout.html" %}
{% from "./_helpers/macros/for_adoption_tables.html" import for_adoption_tables with context %}
{% from "./_helpers/macros/pagination_buttons.html" import pagination_buttons with context %}
{% block title %}
  For Adoption Animals
{% endblock title %}
{% block content %}
  <div class="w-full mx-auto space-y-8">
    <h1 class="text-2xl font-bold">For Adoption Animals</h1>
    {{ for_adoption_tables(animals) }}
    {{ pagination_buttons() }}
  </div>
{% endblock content %}
