{% set active_page = "user.adoption" %}
{% from './_helpers/macros/custom_input.html' import render_field %}
{% from './_helpers/macros/adoption_status_badge.html' import status_badge %}
{% extends "./_helpers/layout/user_layout.html" %}
{% block title %}
  Animal
{% endblock title %}
{% block content %}
  <div class="flex flex-col items-center justify-center w-full gap-8 mx-auto max-w-7xl">
    <div class="relative flex items-start w-full gap-8 px-10 py-12 mx-auto bg-white border shadow-md rounded-3xl">
      <div class="w-64 h-64 p-1 border-4 rounded-full border-primary-500">
        <img src="{{ get_image(animal.photo_url) }}"
             class="object-cover w-full h-full rounded-full"
             height="auto"
             width="auto"
             alt="Image Background">
      </div>
      <div class="flex flex-col w-full max-w-2xl gap-8">
        <div class="flex items-center gap-3">
          <h1 class="text-4xl font-bold">{{ animal.name }}</h1>
        </div>
        <p class="w-full text-md">{{ animal.description }}</p>
        <div class="grid w-full grid-cols-2">
          <div class="flex items-center gap-3 p-3">
            <div class="grid w-8 h-8 {{ 'bg-green-500' if animal.is_dewormed else 'bg-gray-500' }} rounded-full place-items-center ">
              <i class="text-lg text-white fa-solid fa-shield"></i>
            </div>
            <p class="font-bold text-gray-800">Dewormed</p>
          </div>
          <div class="flex items-center gap-3 p-3">
            <div class="grid w-8 h-8 {{ 'bg-blue-500' if animal.is_neutered else 'bg-gray-500' }} rounded-full place-items-center ">
              <i class="text-lg text-white fa-solid fa-cut"></i>
            </div>
            <p class="font-bold text-gray-800">Neutered</p>
          </div>
          <div class="flex items-center gap-3 p-3">
            <div class="grid w-8 h-8 {{ 'bg-purple-500' if animal.in_shelter else 'bg-gray-500' }} rounded-full place-items-center ">
              <i class="text-lg text-white fa-solid fa-home"></i>
            </div>
            <p class="font-bold text-gray-800">Shelter</p>
          </div>
          <div class="flex items-center gap-3 p-3">
            <div class="grid w-8 h-8 {{ 'bg-yellow-500' if animal.is_rescued else 'bg-gray-500' }} rounded-full place-items-center ">
              <i class="text-lg text-white fa-solid fa-life-ring"></i>
            </div>
            <p class="font-bold text-gray-800">Rescued</p>
          </div>
          <div class="flex items-center gap-3 p-3">
            <div class="grid w-8 h-8 {{ 'bg-red-500' if animal.is_adopted else 'bg-gray-500' }} rounded-full place-items-center ">
              <i class="text-lg text-white fa-solid fa-heart"></i>
            </div>
            <p class="font-bold text-gray-800">Adopted</p>
          </div>
          <div class="flex items-center gap-3 p-3">
            <div class="grid w-8 h-8 {{ 'bg-primary-500' if animal.for_adoption else 'bg-gray-500' }} rounded-full place-items-center ">
              <i class="text-lg text-white fa-solid fa-paw"></i>
            </div>
            <p class="font-bold text-gray-800">For Adoption</p>
          </div>
        </div>
      </div>
    </div>
    {% if active_application %}
      <div id="application-view"
           class="w-full p-8 space-y-4 bg-white border shadow-md rounded-2xl">
        <div class="flex items-center justify-between">
          <h3 class="italic">
            You have already applied. Reference Number <span>#{{ active_application.id }}</span>
          </h3>
          {% if active_application.status == "Pending" %}
            <button id="edit-btn" class="text-white btn btn-primary btn-sm">Edit</button>
          {% endif %}
        </div>
        <a href="{{ url_for('user.application.view_application', id=active_application.id) }}"
           class="text-white btn btn-primary">View Application</a>
      </div>
    {% endif %}
    <form id="application-form"
          class="w-full p-8 space-y-4 bg-white border borderm rounded-2xl {{ 'hidden' if active_application }}"
          method="post"
          novalidate>
      {% if active_application %}{{ form.id }}{% endif %}
      {{ form.csrf_token() }}
      {{ render_field(form.interview_preference) }}
      {{ render_field(form.phone_number) }}
      <div class="flex items-center gap-4">
        {{ render_field(form.interview_preferred_date) }}
        {{ render_field(form.interview_preferred_time) }}
      </div>
      <p class="text-sm italic text-gray-700">We can't guarantee the availability of your requested time.</p>
      {{ render_field(form.reason_to_adopt) }}
      <div class="flex justify-end gap-4">
        <button type="button" id="cancel-btn" class="hidden btn">Cancel</button>
        <button type="submit" class="text-white btn btn-wide btn-primary">Apply</button>
      </div>
    </form>
  </div>
  <script>
  let isRendered = false;
  
  const editButton = document.getElementById("edit-btn")
  const cancelButton = document.getElementById("cancel-btn")
  const applicationView = document.getElementById("application-view")
  const applicationForm = document.getElementById("application-form")
  
  const interviewPreferenceField = document.querySelector("[name='interview_preference']");
  const phoneNumberField = document.querySelector("[name='phone_number']");


  function handleInterviewPreferenceChange() {
    if (interviewPreferenceField.value === 'Phone') {
      phoneNumberField.parentElement.style.display = 'block';
    } else {
      phoneNumberField.parentElement.style.display = 'none';
    }
  }

  handleInterviewPreferenceChange();
  interviewPreferenceField.addEventListener('change', handleInterviewPreferenceChange);
  
  if (editButton) {
    editButton.addEventListener("click", () => {
      applicationForm.classList.toggle("hidden")
      applicationView.classList.toggle("hidden")
      cancelButton.classList.toggle("hidden")
    })
  }
  cancelButton.addEventListener("click", () => {
    applicationForm.classList.toggle("hidden")
    applicationView.classList.toggle("hidden")
    cancelButton.classList.toggle("hidden")
  })
  </script>
{% endblock content %}
