{% set active_page = "user.adoption" %}
{% extends "./_helpers/layout/user_layout.html" %}
{% from "./_helpers/macros/animal_cards_adoption.html" import animal_cards_adoption with context %}
{% from "./_helpers/macros/animal_tables_adoption.html" import animal_tables_adoption with context %}
{% from "./_helpers/macros/animal_filters.html" import animal_filters with context %}
{% from "./_helpers/macros/pagination_buttons.html" import pagination_buttons with context %}
{% block title %}
  Adoptions
{% endblock title %}
{% block content %}
  <div class="flex flex-col w-full gap-8 mx-auto max-w-7xl">
    {{ animal_filters(false) }}
    <div class="flex items-center">
      <div class="flex-auto">
        <h1 class="text-2xl font-bold leading-6 text-gray-900">Adoptions ({{ pagination['total_count'] }})</h1>
      </div>
      {% include "./_helpers/partials/view_form.html" %}
    </div>
    <div>
      {% if not view_type or view_type == "card" %}
        {{ animal_cards_adoption(animals) }}
      {% else %}
        {{ animal_tables_adoption(animals) }}
      {% endif %}
    </div>
    {{ pagination_buttons() }}
  </div>
{% endblock content %}
