{% set active_page = "admin.adoption" %}
{% from './_helpers/macros/adoption_status_badge.html' import status_badge %}
{% from "./_helpers/macros/empty_list.html" import empty_list %}
{% extends "./_helpers/layout/admin_layout.html" %}
{% block title %}
  Animal
{% endblock title %}
{% block content %}
  <div class="flex flex-col items-center justify-center w-full gap-8 mx-auto max-w-7xl">
    <div class="relative flex items-center w-full gap-8 px-10 py-12 mx-auto bg-white border shadow-md rounded-3xl">
      <div class="w-64 h-64 p-1 border-4 rounded-full border-primary-500">
        <img src="{{ get_image(animal.photo_url) }}"
             class="object-cover w-full h-full rounded-full"
             height="auto"
             width="auto"
             alt="Image Background">
      </div>
      <div class="flex flex-col w-full max-w-2xl gap-8">
        <div class="flex items-center gap-3">
          <h1 class="text-4xl font-bold">{{ animal.name }}</h1>
        </div>
        <p class="w-full text-md">{{ animal.description }}</p>
        <div class="grid w-full grid-cols-2">
          <div class="flex items-center gap-3 p-3">
            <div class="grid w-8 h-8 {{ 'bg-green-500' if animal.is_dewormed else 'bg-gray-500' }} rounded-full place-items-center ">
              <i class="text-lg text-white fa-solid fa-shield"></i>
            </div>
            <p class="font-bold text-gray-800">Dewormed</p>
          </div>
          <div class="flex items-center gap-3 p-3">
            <div class="grid w-8 h-8 {{ 'bg-blue-500' if animal.is_neutered else 'bg-gray-500' }} rounded-full place-items-center ">
              <i class="text-lg text-white fa-solid fa-cut"></i>
            </div>
            <p class="font-bold text-gray-800">Neutered</p>
          </div>
          <div class="flex items-center gap-3 p-3">
            <div class="grid w-8 h-8 {{ 'bg-purple-500' if animal.in_shelter else 'bg-gray-500' }} rounded-full place-items-center ">
              <i class="text-lg text-white fa-solid fa-home"></i>
            </div>
            <p class="font-bold text-gray-800">Shelter</p>
          </div>
          <div class="flex items-center gap-3 p-3">
            <div class="grid w-8 h-8 {{ 'bg-yellow-500' if animal.is_rescued else 'bg-gray-500' }} rounded-full place-items-center ">
              <i class="text-lg text-white fa-solid fa-life-ring"></i>
            </div>
            <p class="font-bold text-gray-800">Rescued</p>
          </div>
          <div class="flex items-center gap-3 p-3">
            <div class="grid w-8 h-8 {{ 'bg-red-500' if animal.is_adopted else 'bg-gray-500' }} rounded-full place-items-center ">
              <i class="text-lg text-white fa-solid fa-heart"></i>
            </div>
            <p class="font-bold text-gray-800">Adopted</p>
          </div>
          <div class="flex items-center gap-3 p-3">
            <div class="grid w-8 h-8 {{ 'bg-primary-500' if animal.for_adoption else 'bg-gray-500' }} rounded-full place-items-center ">
              <i class="text-lg text-white fa-solid fa-paw"></i>
            </div>
            <p class="font-bold text-gray-800">For Adoption</p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full bg-white rounded-lg shadow-md ">
      <table class="relative w-full divide-y divide-gray-300">
        <thead>
          <tr>
            <th class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Full Name</th>
            <th class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Contact Number</th>
            <th class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Interview Type</th>
            <th class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Preffered Interview Date & Time</th>
            <th class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Status</th>
            <th class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for application in applications %}
            <tr>
              <td class="px-3 py-5 text-sm text-left text-gray-600">
                <div class="flex items-center gap-3">
                  <div class="avatar">
                    <div class="w-12 h-12 mask mask-squircle">
                      {% if application.photo_url %}
                        <a href="{{ url_for('admin.user.view_user', id=application.user_id) }}">
                          <img src="{{ get_image(application.photo_url) }}"
                               alt="User profile picture"
                               class="w-full h-full"
                               height="auto"
                               width="auto" />
                        </a>
                      {% else %}
                        <div class="flex items-center justify-center w-full h-full bg-slate-200 text-slate-500">
                          <span class="text-2xl">{{ application.first_name[0] }}</span>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                  <div>
                    <a href="{{ url_for('admin.user.view_user', id=application.user_id) }}">
                      <div class="font-bold">{{ application.first_name }} {{ application.last_name }}</div>
                    </a>
                    <a href="{{ url_for('admin.user.view_user', id=application.user_id) }}">
                      <div class="text-sm opacity-50">{{ application.email }}</div>
                    </a>
                  </div>
                </div>
              </td>
              <td class="px-3 py-5 text-sm text-left text-gray-600">{{ application.contact_number }}</td>
              <td class="px-3 py-5 text-sm text-left text-gray-600">{{ application.interview_preference }}</td>
              <td class="px-3 py-5 text-sm text-left text-gray-600">
                {{ application.interview_preferred_date.strftime("%b %d, %Y") }} - {{ application.interview_preferred_time }}
              </td>
              <td class="px-3 py-5 text-sm text-left text-gray-600">{{ status_badge(application.current_status) }}</td>
              <td class="px-3 py-5 text-sm text-right text-gray-600">
                <div class="drop-down" data-dropdown>
                  <button data-dropdown-button
                          class="flex items-center justify-center w-10 h-10 transition-all duration-200 border rounded-full hover:shadow drop-down-button">
                    <i class="text-lg pointer-events-none fa-solid fa-ellipsis"></i>
                  </button>
                  <ul data-dropdown-content tabindex="0" class="drop-down-content">
                    {% if application.current_status in ['Pending'] %}
                      <li role="button"
                          tabindex="0"
                          id="interview_button"
                          data-id="{{ application.id }}"
                          data-interview-preference="{{ application.interview_preference }}"
                          data-user-id="{{ application.user_id }}"
                          data-animal-id="{{ application.animal_id }}"
                          hidden="{{ application.current_status in ['Rejected'] }}">Confirm</li>
                    {% endif %}
                    {% if application.current_status in ['Pending', 'Interview'] %}
                      <li role="button"
                          tabindex="0"
                          id="reject_button"
                          data-id="{{ application.id }}"
                          data-user-id="{{ application.user_id }}"
                          data-previous-status="{{ application.current_status }}"
                          data-animal-id="{{ application.animal_id }}">Reject</li>
                    {% endif %}
                    {% if application.current_status in ['Interview'] %}
                      <li role="button"
                          tabindex="0"
                          id="approve_button"
                          data-id="{{ application.id }}"
                          data-user-id="{{ application.user_id }}"
                          data-previous-status="{{ application.current_status }}"
                          data-animal-id="{{ application.animal_id }}">Approve</li>
                    {% endif %}
                    {% if application.current_status in ['Approved'] %}
                      <li role="button"
                          tabindex="0"
                          id="turnover_button"
                          data-id="{{ application.id }}"
                          data-user-id="{{ application.user_id }}"
                          data-previous-status="{{ application.current_status }}"
                          data-animal-id="{{ application.animal_id }}">Turnovered</li>
                    {% endif %}
                    {% if application.current_status in ['Turnovered', 'Rejected'] %}
                      <li>
                        <p>Nothing in here.</p>
                      </li>
                    {% endif %}
                  </ul>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {{ empty_list(applications, "No Applications Found.") }}
      <dialog id="reject_modal" class="modal">
        <div class="modal-box">
          <form id="reject_form" method="post" class="flex flex-col gap-4">
            <h3 class="text-lg font-bold">Application Rejected</h3>
            <p>This will send an email notifying the applicant of the rejection status.</p>
            <div class="form-control">
              <label for="remarks" class="text-sm text-gray-500 label label-text">Remarks (Optional)</label>
              <input class="w-full input input-bordered" type="text" name="remarks" />
            </div>
            <button class="w-full text-white btn btn-primary">Submit</button>
          </form>
        </div>
        <form method="dialog" class="modal-backdrop">
          <button>Close</button>
        </form>
      </dialog>
      <dialog id="interview_modal" class="modal">
        <div class="modal-box">
          <form id="interview_form" method="post" class="flex flex-col gap-4">
            <h3 class="text-lg font-bold">Application Interview</h3>
            <p>This will send an email indicating that the application is currently Interview.</p>
            <div class="form-control">
              <label for="remarks" class="text-sm text-gray-500 label label-text">Remarks (Optional)</label>
              <input class="w-full input input-bordered" type="text" name="remarks" />
            </div>
            <div class="form-control">
              <label for="external_url" class="text-sm text-gray-500 label label-text">External Url</label>
              <input class="w-full input input-bordered" type="text" name="external_url" />
            </div>
            <button class="w-full text-white btn btn-primary">Submit</button>
          </form>
        </div>
        <form method="dialog" class="modal-backdrop">
          <button>Close</button>
        </form>
      </dialog>
      <dialog id="approve_modal" class="modal">
        <div class="modal-box">
          <form id="approve_form" method="post" class="flex flex-col gap-4">
            <h3 class="text-lg font-bold">Application Approved</h3>
            <p>This will send an email confirming the approval of the application.</p>
            <div class="form-control">
              <label for="remarks" class="text-sm text-gray-500 label label-text">Remarks (Optional)</label>
              <input class="w-full input input-bordered" type="text" name="remarks" />
            </div>
            <button class="w-full text-white btn btn-primary">Submit</button>
          </form>
        </div>
        <form method="dialog" class="modal-backdrop">
          <button>Close</button>
        </form>
      </dialog>
      <dialog id="turnover_modal" class="modal">
        <div class="modal-box">
          <form id="turnover_form" method="post" class="flex flex-col gap-4">
            <h3 class="text-lg font-bold">Application Turnovered</h3>
            <p>This will send an email notifying the applicant about the turnover status of the application.</p>
            <div class="form-control">
              <label for="remarks" class="text-sm text-gray-500 label label-text">Remarks (Optional)</label>
              <input class="w-full input input-bordered" type="text" name="remarks" />
            </div>
            <button class="w-full text-white btn btn-primary">Submit</button>
          </form>
        </div>
        <form method="dialog" class="modal-backdrop">
          <button>Close</button>
        </form>
      </dialog>
    </div>
  </div>
  <script>
  const interviewModal = document.getElementById("interview_modal");
  const interviewForm = document.getElementById("interview_form");
  const interviewButtons = document.querySelectorAll("#interview_button");

  interviewButtons.forEach((button) => {
    button.addEventListener("click", handleInterviewButtonClick);
  });

  function handleInterviewButtonClick(element) {
    interviewModal.showModal();
    const { id, userId, animalId, interviewPreference } = element.target.dataset;
    
    const externalUrlLabel = interviewForm.querySelector("label[for='external_url']");

    if (interviewPreference == "Phone") {
      externalUrlLabel.parentElement.classList.add("hidden");
    }

    const linkType = interviewPreference === "Google Meet" ? " (Google Meet Link)" : interviewPreference === "Zoom" ? " (Zoom Link)" : "";
    externalUrlLabel.innerHTML += linkType;
    
    interviewForm.addEventListener("submit", async (e) => {
      e.preventDefault();
      
      const externalUrl = interviewForm.querySelector("input[name='external_url']").value;
      const remarks = interviewForm.querySelector("input[name='remarks']").value;

      try {
        const formData = new FormData();
        formData.append("adoption_id", id);
        formData.append("user_id", userId);
        formData.append("remarks", remarks);
        formData.append("google_meet_url", interviewPreference === "Google Meet" ? externalUrl : "");
        formData.append("zoom_url", interviewPreference === "Zoom" ? externalUrl : ""); 
               
        await fetch(`/admin/adoptions/${animalId}/interview`, {
          method: "POST",
          headers: {
            "X-CSRFToken": document.querySelector("meta[name='csrf_token']").content,
          },
          body: formData,
        });

        window.location.reload();
      } catch (error) {
        showToast("error", error);
      }
    });
  }
  
  const rejectModal = document.getElementById("reject_modal");
  const rejectForm = document.getElementById("reject_form");
  const rejectButtons = document.querySelectorAll("#reject_button");

  rejectButtons.forEach((button) => {
    button.addEventListener("click", handleRejectButtonClick)
  })

  function handleRejectButtonClick(element) {
    rejectModal.showModal();
    const { id, userId, previousStatus, animalId} = element.target.dataset;

    rejectForm.addEventListener("submit", async (e) => {
      e.preventDefault();
      
      const remarks = rejectForm.querySelector("input[name='remarks']").value;

      try {
        const formData = new FormData();
        formData.append("adoption_id", id);
        formData.append("user_id", userId);
        formData.append("previous_status", previousStatus);
        formData.append("remarks", remarks);

        await fetch(`/admin/adoptions/${animalId}/reject`, {
          method: "POST",
          headers: {
            "X-CSRFToken": document.querySelector("meta[name='csrf_token']").content,
          },
          body: formData,
        });

        window.location.reload();
      } catch (error) {
        showToast("error", "Something went wrong when rejecting the application.")
      }
      
    })
    
  }

  const approveModal = document.getElementById("approve_modal");
  const approveForm = document.getElementById("approve_form");
  const approveButtons = document.querySelectorAll("#approve_button");

  approveButtons.forEach((button) => {
    button.addEventListener("click", handleApproveButtonClick)
  })

  function handleApproveButtonClick(element) {
    approveModal.showModal();
    const { id, userId, previousStatus, animalId} = element.target.dataset;

    approveForm.addEventListener("submit", async (e) => {
      e.preventDefault();
      
      const remarks = approveForm.querySelector("input[name='remarks']").value;

      try {
        const formData = new FormData();
        formData.append("adoption_id", id);
        formData.append("user_id", userId);
        formData.append("previous_status", previousStatus);
        formData.append("remarks", remarks);

        await fetch(`/admin/adoptions/${animalId}/approve`, {
          method: "POST",
          headers: {
            "X-CSRFToken": document.querySelector("meta[name='csrf_token']").content,
          },
          body: formData,
        });

        window.location.reload();
      } catch (error) {
        showToast("error", "Something went wrong when approving the application.")
      }
    })
  }

  const turnoverModal = document.getElementById("turnover_modal");
  const turnoverForm = document.getElementById("turnover_form");
  const turnoverButtons = document.querySelectorAll("#turnover_button");

  turnoverButtons.forEach((button) => {
    button.addEventListener("click", handleTurnovernButtonClick)
  })

  function handleTurnovernButtonClick(element) {
    turnoverModal.showModal();
    const { id, userId, previousStatus, animalId} = element.target.dataset;

    turnoverForm.addEventListener("submit", async (e) => {
      e.preventDefault();
      
      const remarks = turnoverForm.querySelector("input[name='remarks']").value;

      try {
        const formData = new FormData();
        formData.append("adoption_id", id);
        formData.append("user_id", userId);
        formData.append("previous_status", previousStatus);
        formData.append("remarks", remarks);

        await fetch(`/admin/adoptions/${animalId}/turnover`, {
          method: "POST",
          headers: {
            "X-CSRFToken": document.querySelector("meta[name='csrf_token']").content,
          },
          body: formData,
        });

        window.location.reload();
      } catch (error) {
        showToast("error", "Something went wrong when approving the application.")
      }
    })
  }


  </script>
{% endblock content %}
