{% set active_page = "admin.adoption" %}
{% extends "./_helpers/layout/admin_layout.html" %}
{% from "./_helpers/macros/for_adoption_tables.html" import for_adoption_tables with context %}
{% from "./_helpers/macros/pagination_buttons.html" import pagination_buttons with context %}
{% block title %}
  For Adoption Animals
{% endblock title %}
{% block content %}
  <div class="flex flex-col w-full gap-8 mx-auto max-w-7xl">
    <h1 class="text-2xl font-bold">For Adoption Animals</h1>
    {{ for_adoption_tables(animals) }}
    {{ pagination_buttons() }}
  </div>
{% endblock content %}
